<!DOCTYPE html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134070461-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-134070461-1');
        </script>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}USCL | Union Sportive Cormeilles Lieurey{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ asset('build/app.css') }}" >
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {{ include('default/navbar.html.twig') }}
        {% block body %}{% endblock %}
        {{ include('default/footer.html.twig') }}
        <script src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="{{ asset('vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('build/runtime.js') }}"></script>
        <script type="text/javascript" src="{{ asset('build/app.js') }}"></script>
        <script type="text/javascript" src="{{ asset('build/base.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
