<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}USCL | Union Sportive Cormeilles Lieurey{% endblock %}</title>
        <link href="{{ asset('vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ asset('css/fotorama.css') }}" rel="stylesheet">
        <link rel='stylesheet' href="{{ asset('vendor/fullcalendar/dist/fullcalendar.css') }}" />
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {{ include(':default:navbar.html.twig') }}
        {% block body %}{% endblock %}


        <footer>
            <div class="footer" id="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                            <h3>BESOIN D'AIDE ?</h3>
                            <ul>
                                <li> <a href="#"> Contacts </a> </li>
                                <li> <a href="#"> Nous écrire </a> </li>
                                <li> <a href="{{ path('plans') }}"> Plan des deux stades </a> </li>
                            </ul>
                        </div>
                        <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                            <h3> SPONSORS </h3>
                            <ul>
                                <li> <a href="http://lespepinieresdufredet.fr/" target="_blank"> Les pépinières du Frédet </a> </li>
                                <li> <a href="http://www.lesptitsloups27.com/" target="_blank"> Restaurant les P'tits Loups </a> </li>
                                <li> <a href="https://agence.axa.fr/haute-normandie/eure/cormeilles/froudiere-anthony" target="_blank"> Assurance Axa Cormeilles </a> </li>
                                <li> <a href="https://www.ca-normandie-seine.fr/banque-assurance/cormeilles/cormeilles.html" target="_blank"> Crédit Agricole Cormeilles </a> </li>
                                <li> <a href="http://www.normandie-accueil.fr/page,0,0,181.html" target="_blank"> Bar Brasserie Du Haras </a> </li>
                            </ul>
                        </div>
                        <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                            <h3> LIENS ANNEXES </h3>
                            <ul>
                                <li> <a href="#"> Site du district de l'eure </a> </li>
                                <li> <a href="#"> Site de la FFF </a> </li>
                            </ul>
                        </div>
                        <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                            <h3> SUIVEZ-NOUS </h3>
                            <ul class="social">
                                <li class = "icoFacebook"> <a href="https://www.facebook.com/usclfoot/" target="_blank"> <i class="fa fa-facebook">   </i> </a> </li>
                                <li class = "icoTwitter"> <a href="https://twitter.com/USCL_27" target="_blank"> <i class="icoTwitter fa fa-twitter">   </i> </a> </li>
                                <li class = "icoYoutube"> <a href="https://www.youtube.com/channel/UCw3lpz33Gq-0xr5e3-OP6ag/videos" target="_blank"> <i class="icoYoutube fa fa-youtube">   </i> </a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="container">
                    <p class="text-center"> Copyright © USCL 2017. Tous droits reservés. Réalisé par Delamare Médéric & Gwennael Jean </p>
                </div>
            </div>
        </footer>


        <script src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
        {% block javascripts %}{% endblock %}


    </body>
