{% extends 'base.html.twig' %}
{% block body %}
    <ol class="breadcrumb">
        <li>Accueil</li>
        <li>Boutique</li>
    </ol>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-8 col-md-4">
                <div class="prix">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    <span>Total de votre <a href="#" data-toggle="modal" data-target=".bs-example-modal-lg">commande</a></span>
                    <span id="valeur">0</span>
                    <span id="monnaie">€</span>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Boutique USCL</p>
                <div class="list-group">
                    <a href="#" data-nomcateg="jdm" class="list-group-item">Jour de match</a>
                    <a href="#" data-nomcateg="entrainement" class="list-group-item">Entraînement</a>
                    <a href="#" data-nomcateg="accessoires" class="list-group-item">Underwear/accesoires</a>
                    <a href="#" data-nomcateg="dirigeant" class="list-group-item">Dirigeants</a>
                </div>
            </div>

            <div class="col-md-9" id="jdm">
                <div class="row" >
                    {% for produit in jourDeMatch %}
                        <div class="col-sm-4 col-lg-4 col-md-4">
                            <div class="thumbnail">
                                <img src="{{ asset(produit.photo) }}" alt="">
                                <div class="caption">
                                    <div class="row">
                                        <div class="nom col-md-12" data-reference="{{ produit.reference }}" data-nike="{{ produit.nomNike }}"><h4>{{ produit.nom }}</h4></div>
                                    </div>
                                    <div class="row">
                                        <div class="prix col-md-12"><h4 class="zizi pull-right">{{ produit.prix }} €</h4></div>
                                    </div>
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="radio radio-primary radio-inline">
                                                    <input type="radio" id="inlineRadio{{ loop.index }}1" value="S" name="radioInline" checked="">
                                                    <label for="inlineRadio{{ loop.index }}1">S</label>
                                                </div>
                                                <div class="radio radio-primary radio-inline">
                                                    <input type="radio" id="inlineRadio{{ loop.index }}2" value="M" name="radioInline">
                                                    <label for="inlineRadio{{ loop.index }}2">M</label>
                                                </div>

                                                <div class="radio radio-primary radio-inline">
                                                    <input type="radio" id="inlineRadio{{ loop.index }}3" value="L" name="radioInline">
                                                    <label for="inlineRadio{{ loop.index }}3">L</label>
                                                </div>

                                                <div class="radio radio-primary radio-inline">
                                                    <input type="radio" id="inlineRadio{{ loop.index }}4" value="XL" name="radioInline">
                                                    <label for="inlineRadio{{ loop.index }}4">XL</label>
                                                </div>

                                                <div class="radio radio-primary radio-inline">
                                                    <input type="radio" id="inlineRadio{{ loop.index }}5" value="XXL" name="radioInline">
                                                    <label for="inlineRadio{{ loop.index }}5">XXL</label>
                                                </div>
                                            </div>
                                        </div>
                                        {% if (produit.initiales) %}
                                            <div class="form-group">
                                                <div class="col-sm-10">
                                                    <input id='initiales' class="form-control" maxlength="2" id="text" name="text" placeholder="Initiales (2,50 €)"></input>
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="form-group">
                                                <div class="col-sm-10">
                                                    <input id='initiales' class="form-control" maxlength="2" id="text" name="text" placeholder="Initiales (2,50 €)" disabled></input>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                {% if(produit.logoObligatoire) %}
                                                    <input id="logo" type="checkbox" disabled checked data-toggle="toggle" data-on="Logo (3€)" data-off="Sans Logo" data-onstyle="primary" data-offstyle="danger">
                                                {% elseif(produit.logo == false) %}
                                                    <input id="logo" type="checkbox" disabled data-toggle="toggle" data-on="Logo (3€)" data-off="Sans Logo" data-onstyle="primary" data-offstyle="danger">
                                                {% else %}
                                                    <input id="logo" type="checkbox" checked data-toggle="toggle" data-on="Logo (3€)" data-off="Sans Logo" data-onstyle="primary" data-offstyle="danger">
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                <button type="button" class="btn btn-primary ajout">Ajouter à la commande</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-9" id="entrainement">
                <div class="row">
                    {% for produit in entrainement %}
                        <div class="col-sm-4 col-lg-4 col-md-4">
                            <div class="thumbnail">
                                <img src="{{ asset(produit.photo) }}" alt="">
                                <div class="caption">
                                    <div class="row">
                                        <div class="nom col-md-12" data-reference="{{ produit.reference }}" data-nike="{{ produit.nomNike }}"><h4>{{ produit.nom }}</h4></div>
                                    </div>
                                    <div class="row">
                                        <div class="prix col-md-12"><h4 class="zizi pull-right">{{ produit.prix }} €</h4></div>
                                    </div>
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="radio radio-primary radio-inline">
                                                    <input type="radio" id="inlineRadio1{{ loop.index  }}1" value="S" name="radioInline" checked="">
                                                    <label for="inlineRadio1{{ loop.index }}1">S</label>
                                                </div>
                                                <div class="radio radio-primary radio-inline">
                                                    <input type="radio" id="inlineRadio1{{ loop.index }}2" value="M" name="radioInline">
                                                    <label for="inlineRadio1{{ loop.index }}2">M</label>
                                                </div>

                                                <div class="radio radio-primary radio-inline">
                                                    <input type="radio" id="inlineRadio1{{ loop.index }}3" value="L" name="radioInline">
                                                    <label for="inlineRadio1{{ loop.index }}3">L</label>
                                                </div>

                                                <div class="radio radio-primary radio-inline">
                                                    <input type="radio" id="inlineRadio1{{ loop.index }}4" value="XL" name="radioInline">
                                                    <label for="inlineRadio1{{ loop.index }}4">XL</label>
                                                </div>

                                                <div class="radio radio-primary radio-inline">
                                                    <input type="radio" id="inlineRadio1{{ loop.index }}5" value="XXL" name="radioInline">
                                                    <label for="inlineRadio1{{ loop.index }}5">XXL</label>
                                                </div>
                                            </div>
                                        </div>
                                        {% if (produit.initiales) %}
                                            <div class="form-group">
                                                <div class="col-sm-10">
                                                    <input id='initiales' class="form-control" maxlength="2" id="text" name="text" placeholder="Initiales (2,50 €)"></input>
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="form-group">
                                                <div class="col-sm-10">
                                                    <input id='initiales' class="form-control" maxlength="2" id="text" name="text" placeholder="Initiales (2,50 €)" disabled></input>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                {% if(produit.logoObligatoire) %}
                                                    <input id="logo" type="checkbox" disabled checked data-toggle="toggle" data-on="Logo (3€)" data-off="Sans Logo" data-onstyle="primary" data-offstyle="danger">
                                                {% elseif(produit.logo == false) %}
                                                    <input id="logo" type="checkbox" disabled data-toggle="toggle" data-on="Logo (3€)" data-off="Sans Logo" data-onstyle="primary" data-offstyle="danger">
                                                {% else %}
                                                    <input id="logo" type="checkbox" checked data-toggle="toggle" data-on="Logo (3€)" data-off="Sans Logo" data-onstyle="primary" data-offstyle="danger">
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                <button type="button" class="btn btn-primary ajout">Ajouter à la commande</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-9" id="accessoires">
                <div class="row">
                    {% for produit in accessoires %}
                        <div class="col-sm-4 col-lg-4 col-md-4">
                            <div class="thumbnail">
                                <img src="{{ asset(produit.photo) }}" alt="">
                                <div class="caption">
                                    <div class="row">
                                        <div class="nom col-md-12" data-reference="{{ produit.reference }}" data-nike="{{ produit.nomNike }}"><h4>{{ produit.nom }}</h4></div>
                                    </div>
                                    <div class="row">
                                        <div class="prix col-md-12"><h4 class="zizi pull-right">{{ produit.prix }} €</h4></div>
                                    </div>
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="radio radio-primary radio-inline">
                                                    <input type="radio" id="inlineRadio2{{ loop.index }}1" value="S" name="radioInline" checked="">
                                                    <label for="inlineRadio2{{ loop.index }}1">S</label>
                                                </div>
                                                <div class="radio radio-primary radio-inline">
                                                    <input type="radio" id="inlineRadio2{{ loop.index }}2" value="M" name="radioInline">
                                                    <label for="inlineRadio2{{ loop.index }}2">M</label>
                                                </div>

                                                <div class="radio radio-primary radio-inline">
                                                    <input type="radio" id="inlineRadio2{{ loop.index }}3" value="L" name="radioInline">
                                                    <label for="inlineRadio2{{ loop.index }}3">L</label>
                                                </div>

                                                <div class="radio radio-primary radio-inline">
                                                    <input type="radio" id="inlineRadio2{{ loop.index }}4" value="XL" name="radioInline">
                                                    <label for="inlineRadio2{{ loop.index }}4">XL</label>
                                                </div>

                                                <div class="radio radio-primary radio-inline">
                                                    <input type="radio" id="inlineRadio2{{ loop.index }}5" value="XXL" name="radioInline">
                                                    <label for="inlineRadio2{{ loop.index }}5">XXL</label>
                                                </div>
                                            </div>
                                        </div>
                                        {% if (produit.initiales) %}
                                            <div class="form-group">
                                                <div class="col-sm-10">
                                                    <input id='initiales' class="form-control" maxlength="2" id="text" name="text" placeholder="Initiales (2,50 €)"></input>
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="form-group">
                                                <div class="col-sm-10">
                                                    <input id='initiales' class="form-control" maxlength="2" id="text" name="text" placeholder="Initiales (2,50 €)" disabled></input>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                {% if(produit.logoObligatoire) %}
                                                    <input id="logo" type="checkbox" disabled checked data-toggle="toggle" data-on="Logo (3€)" data-off="Sans Logo" data-onstyle="primary" data-offstyle="danger">
                                                {% elseif(produit.logo == false) %}
                                                    <input id="logo" type="checkbox" disabled data-toggle="toggle" data-on="Logo (3€)" data-off="Sans Logo" data-onstyle="primary" data-offstyle="danger">
                                                {% else %}
                                                    <input id="logo" type="checkbox" checked data-toggle="toggle" data-on="Logo (3€)" data-off="Sans Logo" data-onstyle="primary" data-offstyle="danger">
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                <button type="button" class="btn btn-primary ajout">Ajouter à la commande</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-9" id="dirigeant">
                <div class="row">
                    {% for produit in dirigeant %}
                        <div class="col-sm-4 col-lg-4 col-md-4">
                            <div class="thumbnail">
                                <img src="{{ asset(produit.photo) }}" alt="">
                                <div class="caption">
                                    <div class="row">
                                        <div class="nom col-md-12" data-reference="{{ produit.reference }}" data-nike="{{ produit.nomNike }}"><h4>{{ produit.nom }}</h4></div>
                                    </div>
                                    <div class="row">
                                        <div class="prix col-md-12"><h4 class="zizi pull-right">{{ produit.prix }} €</h4></div>
                                    </div>
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <div class="radio radio-primary radio-inline">
                                                    <input type="radio" id="inlineRadio3{{ loop.index }}1" value="S" name="radioInline" checked="">
                                                    <label for="inlineRadio3{{ loop.index }}1">S</label>
                                                </div>
                                                <div class="radio radio-primary radio-inline">
                                                    <input type="radio" id="inlineRadio3{{ loop.index }}2" value="M" name="radioInline">
                                                    <label for="inlineRadio3{{ loop.index }}2">M</label>
                                                </div>

                                                <div class="radio radio-primary radio-inline">
                                                    <input type="radio" id="inlineRadio3{{ loop.index }}3" value="L" name="radioInline">
                                                    <label for="inlineRadio3{{ loop.index }}3">L</label>
                                                </div>

                                                <div class="radio radio-primary radio-inline">
                                                    <input type="radio" id="inlineRadio3{{ loop.index }}4" value="XL" name="radioInline">
                                                    <label for="inlineRadio3{{ loop.index }}4">XL</label>
                                                </div>

                                                <div class="radio radio-primary radio-inline">
                                                    <input type="radio" id="inlineRadio3{{ loop.index }}5" value="XXL" name="radioInline">
                                                    <label for="inlineRadio3{{ loop.index }}5">XXL</label>
                                                </div>
                                            </div>
                                        </div>
                                        {% if (produit.initiales) %}
                                            <div class="form-group">
                                                <div class="col-sm-10">
                                                    <input id='initiales' class="form-control" maxlength="2" id="text" name="text" placeholder="Initiales (2,50 €)"></input>
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="form-group">
                                                <div class="col-sm-10">
                                                    <input id='initiales' class="form-control" maxlength="2" id="text" name="text" placeholder="Initiales (2,50 €)" disabled></input>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                {% if(produit.logoObligatoire) %}
                                                    <input id="logo" type="checkbox" disabled checked data-toggle="toggle" data-on="Logo (3€)" data-off="Sans Logo" data-onstyle="primary" data-offstyle="danger">
                                                {% elseif(produit.logo == false) %}
                                                    <input id="logo" type="checkbox" disabled data-toggle="toggle" data-on="Logo (3€)" data-off="Sans Logo" data-onstyle="primary" data-offstyle="danger">
                                                {% else %}
                                                    <input id="logo" type="checkbox" checked data-toggle="toggle" data-on="Logo (3€)" data-off="Sans Logo" data-onstyle="primary" data-offstyle="danger">
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-10">
                                                <button type="button" class="btn btn-primary ajout">Ajouter à la commande</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Ma commande</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <select id="licencie" class="form-control col-md-4">
                                <option value="null">--</option>
                                {% for licencie in licencies %}
                                    <option value="{{ licencie.nom }}-{{ licencie.prenom }}">{{ licencie.nom }} {{ licencie.prenom }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-6">
                            <input id="mail" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table id="recapitulatif_commande" class="table">
                                    <thead>
                                    <tr>
                                        <td>Référence</td>
                                        <td>Nom du produit</td>
                                        <td>Taille</td>
                                        <td>Logo Club</td>
                                        <td>Initiales</td>
                                        <td>Prix</td>
                                        <td>Action</td>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        </div>
                    </div>
                <div class="modal-footer">
                    <div class="prix pull-left">
                        <span>Total de votre commande</span>
                        <span id="valeur-modal">0</span>
                        <span id="monnaie-modal">€</span>
                    </div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    <button type="button" disabled id="send" class="btn btn-primary">Valider la commande</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="{{ asset('js/bootstrap-notify.min.js') }}"></script>
    <script>
        $(function() {
            $('#entrainement').hide();
            $('#accessoires').hide();
            $('#dirigeant').hide();
        })
    </script>
    <script>
        $( document ).ready(function() {
            console.log( "ready!" );
        });
        var array = [];
        var licencie = null;
        var email = null;
        $(function() {

            $('.list-group-item').click(function () {
                $('#jdm').hide();
                $('#entrainement').hide();
                $('#accessoires').hide();
                $('#dirigeant').hide();
                $('#'+$(this).data('nomcateg')).show();
            })

            $('.ajout').click(function() {

                var prix = ($(this).parents('.caption').find('.prix').text().replace('€',''));
                var total = parseFloat($('#valeur').text()) + parseFloat(prix);
                var nom = $(this).parents('.caption').find('.nom').text();
                var reference = $(this).parents('.caption').find('.nom').data('reference');
                var nomNike = $(this).parents('.caption').find('.nom').data('nike');
                var logoBoolean = $(this).parents('.caption').find('#logo').prop('checked');
                var taille = $(this).parents('.caption').find('input[name=radioInline]:checked').val();
                var deuxLettres = null;
                if(logoBoolean){
                    logo = '<i class="fa fa-check" aria-hidden="true"></i>';
                    total = total + 3;
                    prix = parseFloat(prix) + 3;
                } else {
                    logo = '<i class="fa fa-times" aria-hidden="true"></i>';
                }
                if( $(this).parents('.caption').find('#initiales').val().length > 0 ) {
                    deuxLettres =$(this).parents('.caption').find('#initiales').val();
                    initiales = '<i class="fa fa-check" aria-hidden="true"></i>' + '( ' + $(this).parents('.caption').find('#initiales').val() + ' )';
                    total = total + 2.5;
                    prix = parseFloat(prix) + 2.5;
                } else {
                    initiales = '<i class="fa fa-times" aria-hidden="true"></i>';
                }
                $('#valeur').replaceWith('<span id="valeur">'+total+'</span>');
                $('#valeur-modal').replaceWith('<span id="valeur-modal">'+total+'</span>');
                $('#recapitulatif_commande tr:last').after('<tr><td>Test</td><td>'+ nom + '</td><td>' + taille + '</td><td>'+ logo + '</td><td>' + initiales + '</td><td class="prix-table">'+ prix +'€</td><td><input class="btn btn-danger" type="button" id="test" value="supprimer"></td></tr>');

                array.push({
                    'reference': reference,
                    'taille': taille,
                    'nomProduit': nomNike,
                    'logo': logoBoolean,
                    'initiales': deuxLettres
                })

                $.notifyDefaults({
                    type: 'success',
                });

                $.notify({
                    icon: 'glyphicon glyphicon-shopping-cart',
                    message: nom + " a été ajouté à la commande"
                },{
                    placement: {
                        from: "top",
                        align: "left"
                    },
                    }
                );
            });


        })

        function validateEmail($email) {
            var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
            return emailReg.test( $email );
        }

        $('#recapitulatif_commande').on('click', 'input[type="button"]', function(e){
            $(this).closest('tr').remove();
            var prix = ($('#valeur').text().replace('€',''));
            var prixLigne = parseFloat($(this).parents('tr').find('.prix-table').text().replace('€',''));

            var total = parseFloat($('#valeur').text()) - parseFloat($(this).parents('tr').find('.prix-table').text().replace('€',''));
            $('#valeur').replaceWith('<span id="valeur">'+total+'</span>');
            $('#valeur-modal').replaceWith('<span id="valeur-modal">'+total+'</span>');
        })



        $('#licencie').change(function () {
            if($(this).val() != "null" && $('#mail').val().length !== 0){
                $('#send').removeAttr("disabled");
            }
            if($(this).val() == "null"){
                $('#send').attr("disabled", true);
            }
        })

        $('#mail').keyup(function () {
            if(validateEmail($(this).val()) && $(this).val().length !== 0 && $('#licencie').val() != "null"){
                $('#send').removeAttr("disabled");
            }
            if($(this).val().length === 0){
                $('#send').attr("disabled",true);
            }
        })

        $('#send').click(function () {
            licencie = $('#licencie').val();
            email = $('#mail').val();
            $.ajax({
                type: 'POST',
                url: '{{ path('boutique-send') }}',
                data: { abc: array, licencie:licencie, mail:email },
                success: function(msg){
                    location.href = 'http://uscl-foot.fr/boutique/liste';
                },
                error: function(XmlHttpRequest,textStatus, errorThrown){
                    alert("Echec! ");
                },
                complete: function(msg){
                    location.href = 'http://uscl-foot.fr/boutique/liste';
                }
            });
        })



    </script>
{% endblock %}