{% extends 'base.html.twig' %}
{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item " aria-current="page"><a href="index.php">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Bureau</li>
        </ol>
    </nav>

    <div class="container">
        <h1 class = "sous-titre">Composition du bureau 2018/2019</h1>
        <div class="row mb-4">
            <div class="col-sm-4 offset-sm-4">
                <div class="card card-uscl">
                    <div class="card-header">
                        <h3 class="panel-title">Président</h3>
                    </div>
                    <div class="card-body">
                        <div class="container">
                            <div class="text-center">
                                <img src="{{ bureau.president.photo }}" class="rounded" alt="{{ bureau.president.nomComplet }}">
                            </div>
                            <div class="text-center">
                                <h6 class="text-center">{{ bureau.president.nomComplet }}</h6>
                            </div>
                            <div class="text-center">
                                <h6><i class="fa fa-envelope" aria-hidden="true"></i> <a  href="mail-to:{{ bureau.president.email }}">{{ bureau.president.email }}</a> </h6>
                                <h6><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:{{ bureau.president.telephonePortable }}">{{ bureau.president.telephonePortable }}</a></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-sm-4">
                <div class="card card-uscl">
                    <div class="card-header">
                        <h3 class="panel-title">Vice-président</h3>
                    </div>
                    <div class="card-body">
                        <div class="container">
                            <div class="text-center">
                                <img src="{{ bureau.vicePresident.photo }}" class="rounded" alt="{{ bureau.vicePresident.nomComplet }}">
                            </div>
                            <div class="text-center">
                                <h6 class="text-center">{{ bureau.vicePresident.nomComplet }}</h6>
                            </div>
                            <div class="text-center">
                                <h6><i class="fa fa-envelope" aria-hidden="true"></i> <a  href="mail-to:{{ bureau.vicePresident.email }}">{{ bureau.vicePresident.email }}</a> </h6>
                                <h6><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:{{ bureau.vicePresident.telephonePortable }}">{{ bureau.vicePresident.telephonePortable }}</a></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card card-uscl">
                    <div class="card-header">
                        <h3 class="panel-title">Vice-président</h3>
                    </div>
                    <div class="card-body">
                        <div class="container">
                            <div class="text-center">
                                <img src="{{ bureau.vicePresident2.photo }}" class="rounded" alt="{{ bureau.vicePresident2.nomComplet }}">
                            </div>
                            <div class="text-center">
                                <h6 class="text-center">{{ bureau.vicePresident2.nomComplet }}</h6>
                            </div>
                            <div class="text-center">
                                <h6><i class="fa fa-envelope" aria-hidden="true"></i> <a  href="mail-to:{{ bureau.vicePresident2.email }}">{{ bureau.vicePresident2.email }}</a> </h6>
                                <h6><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:{{ bureau.vicePresident2.telephonePortable }}">{{ bureau.vicePresident2.telephonePortable }}</a></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card card-uscl">
                    <div class="card-header">
                        <h3 class="panel-title">Vice-président</h3>
                    </div>
                    <div class="card-body">
                        <div class="container">
                            <div class="text-center">
                                <img src="{{ bureau.vicePresident3.photo }}" class="rounded" alt="{{ bureau.vicePresident3.nomComplet }}">
                            </div>
                            <div class="text-center">
                                <h6 class="text-center">{{ bureau.vicePresident3.nomComplet }}</h6>
                            </div>
                            <div class="text-center">
                                <h6><i class="fa fa-envelope" aria-hidden="true"></i> <a  href="mail-to:{{ bureau.vicePresident3.email }}">{{ bureau.vicePresident3.email }}</a> </h6>
                                <h6><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:{{ bureau.vicePresident3.telephonePortable }}">{{ bureau.vicePresident3.telephonePortable }}</a></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-sm-6">
                <div class="card card-uscl">
                    <div class="card-header">
                        <h3 class="panel-title">Secrétaire</h3>
                    </div>
                    <div class="card-body">
                        <div class="container">
                            <div class="text-center">
                                <img src="{{ bureau.secretaire.photo }}" class="rounded" alt="{{ bureau.secretaire.nomComplet }}">
                            </div>
                            <div class="text-center">
                                <h6 class="text-center">{{ bureau.secretaire.nomComplet }}</h6>
                            </div>
                            <div class="text-center">
                                <h6><i class="fa fa-envelope" aria-hidden="true"></i> <a  href="mail-to:{{ bureau.secretaire.email }}">{{ bureau.secretaire.email }}</a> </h6>
                                <h6><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:{{ bureau.secretaire.telephonePortable }}">{{ bureau.secretaire.telephonePortable }}</a></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card card-uscl">
                    <div class="card-header">
                        <h3 class="panel-title">Trésorière</h3>
                    </div>
                    <div class="card-body">
                        <div class="container">
                            <div class="text-center">
                                <img src="{{ bureau.tresorier.photo }}" class="rounded" alt="{{ bureau.tresorier.nomComplet }}">
                            </div>
                            <div class="text-center">
                                <h6 class="text-center">{{ bureau.tresorier.nomComplet }}</h6>
                            </div>
                            <div class="text-center">
                                <h6><i class="fa fa-envelope" aria-hidden="true"></i> <a  href="mail-to:{{ bureau.tresorier.email }}">{{ bureau.tresorier.email }}</a> </h6>
                                <h6><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:{{ bureau.tresorier.telephonePortable }}">{{ bureau.tresorier.telephonePortable }}</a></h6>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}