{% extends 'base.html.twig' %}
{% block body %}
    <ol class="breadcrumb">
        <li><a href="index.php">Accueil</a></li>
        <li class="active">Bureau</li>
    </ol>

    <div class="container">
        <h1 class = "page-header">Composition du bureau 2017/2018</h1>
        <div class="row margin-bottom">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="panel panel-uscl">
                    <div class="panel-heading">
                        <h3 class="panel-title">Président</h3>
                    </div>
                    <div class="panel-body row">
                        <div class="row">
                            <div class="col-sm-offset-4 col-sm-4 col-xs-offset-4 col-xs-4 text-center">
                                <img src="{{ asset(club.president.photo) }}" class="img-rounded" alt="{{ club.president.nom }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <h4>{{ club.president.prenom }} {{ club.president.nom }}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <h4><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{ club.president.mail }}</h4>
                                <h4><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{ club.president.mobile }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-bottom">
            <div class="col-sm-4 margin-bottom">
                <div class="panel panel-uscl">
                    <div class="panel-heading">
                        <h3 class="panel-title">Vice-président</h3>
                    </div>
                    <div class="panel-body row">
                        <div class="row">
                            <div class="col-sm-offset-4 col-sm-4 col-xs-offset-4 col-xs-4 text-center">
                                <img src="{{ asset(club.vicePresident1.photo) }}" class="img-rounded" alt="{{ club.vicePresident1.nom }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <h4>{{ club.vicePresident1.prenom }} {{ club.vicePresident1.nom }}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <h4><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{ club.vicePresident1.mail }}</h4>
                                <h4><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{ club.vicePresident1.mobile }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 margin-bottom">
                <div class="panel panel-uscl">
                    <div class="panel-heading">
                        <h3 class="panel-title">Vice-président</h3>
                    </div>
                    <div class="panel-body row">
                        <div class="row">
                            <div class="col-sm-offset-4 col-sm-4 col-xs-offset-4 col-xs-4 text-center">
                                <img src="{{ asset(club.vicePresident2.photo ) }}" class="img-rounded" alt="{{ club.vicePresident2.nom }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <h4>{{ club.vicePresident2.prenom }} {{ club.vicePresident2.nom }}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <h4><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{ club.vicePresident2.mail }}</h4>
                                <h4><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{ club.vicePresident2.mobile }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 margin-bottom">
                <div class="panel panel-uscl">
                    <div class="panel-heading">
                        <h3 class="panel-title">Vice-président</h3>
                    </div>
                    <div class="panel-body row">
                        <div class="row">
                            <div class="col-sm-offset-4 col-sm-4 col-xs-offset-4 col-xs-4 text-center">
                                <img src="{{ asset( club.vicePresident3.photo ) }}" class="img-rounded" alt="{{ club.vicePresident3.nom }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <h4>{{ club.vicePresident3.prenom }} {{ club.vicePresident3.nom }}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <h4><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{ club.vicePresident3.mail }}</h4>
                                <h4><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{ club.vicePresident3.mobile }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-bottom ">
            <div class="col-sm-6 margin-bottom">
                <div class="panel panel-uscl">
                    <div class="panel-heading">
                        <h3 class="panel-title">Secrétaire</h3>
                    </div>
                    <div class="panel-body row">
                        <div class="row">
                            <div class="col-sm-offset-4 col-sm-4 col-xs-offset-4 col-xs-4 text-center">
                                <img src="{{ asset(club.secretaire.photo) }}" class="img-rounded" alt="{{ club.secretaire.nom }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <h4>{{ club.secretaire.prenom }} {{ club.secretaire.nom }}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <h4><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{ club.secretaire.mail }}</h4>
                                <h4><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{ club.secretaire.fixe }} / {{ club.secretaire.mobile }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 margin-bottom">
                <div class="panel panel-uscl">
                    <div class="panel-heading">
                        <h3 class="panel-title">Trésorière</h3>
                    </div>
                    <div class="panel-body row">
                        <div class="row">
                            <div class="col-sm-offset-4 col-sm-4 col-xs-offset-4 col-xs-4 text-center">
                                <img src="{{ asset(club.tresorier.photo) }}" class="img-rounded" alt="{{ club.tresorier.nom }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <h4>{{ club.tresorier.prenom }} {{ club.tresorier.nom }}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <h4><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{ club.tresorier.mail }}</h4>
                                <h4><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{ club.tresorier.mobile }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-bottom">
            <div class="col-sm-6 margin-bottom">
                <div class="panel panel-uscl">
                    <div class="panel-heading">
                        <h3 class="panel-title">Pole sportif jeunes</h3>
                    </div>
                    <div class="panel-body row">
                        <div class="row">
                            <div class="col-sm-offset-4 col-sm-4 col-xs-offset-4 col-xs-4 text-center">
                                <img src="{{ asset(club.responsableJeunes.photo) }}" class="img-rounded" alt="{{ club.responsableJeunes.nom }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <h4>{{ club.responsableJeunes.prenom }} {{ club.responsableJeunes.nom }}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <h4><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{ club.responsableJeunes.mail }}</h4>
                                <h4><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{ club.responsableJeunes.fixe }} / {{ club.responsableJeunes.mobile }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 margin-bottom">
                <div class="panel panel-uscl">
                    <div class="panel-heading">
                        <h3 class="panel-title">Pole sportif seniors</h3>
                    </div>
                    <div class="panel-body row">
                        <div class="row">
                            <div class="col-sm-offset-4 col-sm-4 col-xs-offset-4 col-xs-4 text-center">
                                <img src="{{ asset(club.responsableSeniors.photo) }}" class="img-rounded" alt="{{ club.responsableSeniors.nom }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <h4>{{ club.responsableSeniors.prenom }} {{ club.responsableSeniors.nom }}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <h4><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{ club.responsableSeniors.mail }}</h4>
                                <h4><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{ club.responsableSeniors.mobile }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}