{% extends 'base.html.twig' %}
{% block body %}
    <ol class="breadcrumb">
        <li><a href="index.php">Accueil</a></li>
        <li class="active">Bureau</li>
    </ol>

    <div class="container">
        <h1 class = "page-header">Composition du bureau 2017/2018</h1>
        <div class="row margin-bottom">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="panel panel-uscl">
                    <div class="panel-heading">
                        <h3 class="panel-title">Président</h3>
                    </div>
                    <div class="panel-body row">
                        <div class="row">
                            <div class="col-sm-offset-4 col-sm-4 col-xs-offset-4 col-xs-4 text-center">
                                <img src="{{ bureau.president.photo }}" class="img-rounded" alt="{{ bureau.president.nomComplet }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <h4>{{ bureau.president.nomComplet }}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <h4><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{ bureau.president.email }}</h4>
                                <h4><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{ bureau.president.telephonePortable }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-bottom">
            <div class="col-sm-4 margin-bottom">
                <div class="panel panel-uscl">
                    <div class="panel-heading">
                        <h3 class="panel-title">Vice-président</h3>
                    </div>
                    <div class="panel-body row">
                        <div class="row">
                            <div class="col-sm-offset-4 col-sm-4 col-xs-offset-4 col-xs-4 text-center">
                                <img src="{{ bureau.vicePresident.photo }}" class="img-rounded" alt="{{ bureau.vicePresident.nomComplet }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <h4>{{ bureau.vicePresident.nomComplet }}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <h4><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{ bureau.vicePresident.email }}</h4>
                                <h4><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{ bureau.vicePresident.telephonePortable }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 margin-bottom">
                <div class="panel panel-uscl">
                    <div class="panel-heading">
                        <h3 class="panel-title">Vice-président</h3>
                    </div>
                    <div class="panel-body row">
                        <div class="row">
                            <div class="col-sm-offset-4 col-sm-4 col-xs-offset-4 col-xs-4 text-center">
                                <img src="{{ bureau.vicePresident2.photo }}" class="img-rounded" alt="{{ bureau.vicePresident2.nomComplet }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <h4>{{ bureau.vicePresident2.nomComplet }}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <h4><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{ bureau.vicePresident2.email }}</h4>
                                <h4><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{ bureau.vicePresident2.telephonePortable }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 margin-bottom">
                <div class="panel panel-uscl">
                    <div class="panel-heading">
                        <h3 class="panel-title">Vice-président</h3>
                    </div>
                    <div class="panel-body row">
                        <div class="row">
                            <div class="col-sm-offset-4 col-sm-4 col-xs-offset-4 col-xs-4 text-center">
                                <img src="{{ bureau.vicePresident3.photo  }}" class="img-rounded" alt="{{ bureau.vicePresident3.nomComplet }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <h4>{{ bureau.vicePresident3.nomComplet }}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <h4><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{ bureau.vicePresident3.email }}</h4>
                                <h4><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{ bureau.vicePresident3.telephonePortable }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-bottom ">
            <div class="col-sm-6 margin-bottom">
                <div class="panel panel-uscl">
                    <div class="panel-heading">
                        <h3 class="panel-title">Secrétaire</h3>
                    </div>
                    <div class="panel-body row">
                        <div class="row">
                            <div class="col-sm-offset-4 col-sm-4 col-xs-offset-4 col-xs-4 text-center">
                                <img src="{{ bureau.secretaire.photo }}" class="img-rounded" alt="{{ bureau.secretaire.nomComplet }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <h4>{{ bureau.secretaire.nomComplet }}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <h4><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{ bureau.secretaire.email }}</h4>
                                <h4><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{ bureau.secretaire.telephonePortable }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 margin-bottom">
                <div class="panel panel-uscl">
                    <div class="panel-heading">
                        <h3 class="panel-title">Trésorière</h3>
                    </div>
                    <div class="panel-body row">
                        <div class="row">
                            <div class="col-sm-offset-4 col-sm-4 col-xs-offset-4 col-xs-4 text-center">
                                <img src="{{ bureau.tresorier.photo }}" class="img-rounded" alt="{{ bureau.tresorier.nomComplet }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <h4>{{ bureau.tresorier.nomComplet }}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <h4><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{ bureau.tresorier.email }}</h4>
                                <h4><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{ bureau.tresorier.telephonePortable }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-bottom">
            <div class="col-sm-6 margin-bottom">
                <div class="panel panel-uscl">
                    <div class="panel-heading">
                        <h3 class="panel-title">Pole sportif jeunes</h3>
                    </div>
                    <div class="panel-body row">
                        <div class="row">
                            <div class="col-sm-offset-4 col-sm-4 col-xs-offset-4 col-xs-4 text-center">
                                <img src="{{ bureau.responsablePoleJeunes.photo }}" class="img-rounded" alt="{{ bureau.responsablePoleJeunes.nomComplet}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <h4>{{ bureau.responsablePoleJeunes.nomComplet}}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <h4><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{ bureau.responsablePoleJeunes.email }}</h4>
                                <h4><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{ bureau.responsablePoleJeunes.telephonePortable }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 margin-bottom">
                <div class="panel panel-uscl">
                    <div class="panel-heading">
                        <h3 class="panel-title">Pole sportif seniors</h3>
                    </div>
                    <div class="panel-body row">
                        <div class="row">
                            <div class="col-sm-offset-4 col-sm-4 col-xs-offset-4 col-xs-4 text-center">
                                <img src="{{ bureau.responsablePoleSeniors.photo }}" class="img-rounded" alt="{{ bureau.responsablePoleSeniors.nomComplet }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <h4>{{ bureau.responsablePoleSeniors.nomComplet }}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <h4><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{ bureau.responsablePoleSeniors.email }}</h4>
                                <h4><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> {{ bureau.responsablePoleSeniors.telephonePortable }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}