{% extends 'base.html.twig' %}
{% block body %}
    <header class="business-header business-header-buteurs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline"></h1>
                </div>
            </div>
        </div>
    </header>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item " aria-current="page"><a href="index.php">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Buteur</li>
        </ol>
    </nav>
    <div class="container-fluid">
        <h1 class="sous-titre">Buteurs</h1>
        <ul class="nav nav-pills mb-3 d-flex justify-content-center" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-seniors" role="tab"
                   aria-controls="pills-seniors" aria-selected="true">Seniors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-veterans" role="tab"
                   aria-controls="pills-veterans" aria-selected="false">Vétérans</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-seniorsF" role="tab"
                   aria-controls="pills-seniorsF" aria-selected="false">Seniors F</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-U18" role="tab"
                   aria-controls="pills-U18" aria-selected="false">U18</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-U15" role="tab"
                   aria-controls="pills-U15" aria-selected="false">U15</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-U13" role="tab"
                   aria-controls="pills-U15" aria-selected="false">U13</a>
            </li>
        </ul>
        <div class="row">
            <div class="tab-content col-12" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-seniors" role="tabpanel"
                     aria-labelledby="pills-home-tab">
                    <div class="col-12 offset-md-2 col-md-8">
                        <h2>Buteurs Seniors</h2>
                        <div class="table-responsive">
                            <table class="table table-sm tableauButeur">
                                <thead>
                                <tr>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Buts en A</th>
                                    <th scope="col">Buts en B</th>
                                    <th scope="col">Buts en Coupe</th>
                                    <th scope="col">Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for buteur in seniors %}
                                    <tr>
                                        <td><a href="{{ path('profile', {'id': buteur.id}) }}">{{ buteur.nom }} {{ buteur.prenom }}</td>
                                        <td>{{ buteur.stats.butsA }}</td>
                                        <td>{{ buteur.stats.butsB }}</td>
                                        <td>{{ buteur.stats.butsCoupe }}</td>
                                        <td>{{ buteur.stats.butsA + buteur.stats.butsB + buteur.stats.butsCoupe }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-veterans" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="col-12 offset-md-2 col-md-8">
                        <h2>Buteurs Vétérans</h2>
                        <div class="table-responsive">
                            <table class="table table-sm tableauButeur">
                                <thead>
                                <tr>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Buts en A</th>
                                    <th scope="col">Buts en B</th>
                                    <th scope="col">Buts en Coupe</th>
                                    <th scope="col">Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for buteur in veterans %}
                                    <tr>
                                        <td><a href="{{ path('profile', {'id': buteur.id}) }}">{{ buteur.nom }} {{ buteur.prenom }}</td>
                                        <td>{{ buteur.stats.butsA }}</td>
                                        <td>{{ buteur.stats.butsB }}</td>
                                        <td>{{ buteur.stats.butsCoupe }}</td>
                                        <td>{{ buteur.stats.butsA + buteur.stats.butsB + buteur.stats.butsCoupe }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-seniorsF" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="col-12 offset-md-2 col-md-8">
                        <h2>Buteuses Seniors</h2>
                        <div class="table-responsive">
                            <table class="table table-sm tableauButeur">
                                <thead>
                                <tr>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Buts en A</th>
                                    <th scope="col">Buts en Coupe</th>
                                    <th scope="col">Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for buteur in seniorsF %}
                                    <tr>
                                        <td><a href="{{ path('profile', {'id': buteur.id}) }}">{{ buteur.nom }} {{ buteur.prenom }}</td>
                                        <td>{{ buteur.stats.butsA }}</td>
                                        <td>{{ buteur.stats.butsCoupe }}</td>
                                        <td>{{ buteur.stats.butsA + buteur.stats.butsCoupe }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-U18" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="col-12 offset-md-2 col-md-8">
                        <h2>Buteurs U18</h2>
                        <div class="table-responsive">
                            <table class="table table-sm tableauButeur3Colonnes">
                                <thead>
                                <tr>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Buts en A</th>
                                    <th scope="col">Buts en Coupe</th>
                                    <th scope="col">Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for buteur in U18 %}
                                    <tr>
                                        <td><a href="{{ path('profile', {'id': buteur.id}) }}">{{ buteur.nom }} {{ buteur.prenom }}</td>
                                        <td>{{ buteur.stats.butsA }}</td>
                                        <td>{{ buteur.stats.butsCoupe }}</td>
                                        <td>{{ buteur.stats.butsA + buteur.stats.butsCoupe }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-U15" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="col-12 offset-md-2 col-md-8">
                        <h2>Buteurs U15</h2>
                        <div class="table-responsive">
                            <table class="table table-sm tableauButeur3Colonnes">
                                <thead>
                                <tr>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Buts en A</th>
                                    <th scope="col">Buts en Coupe</th>
                                    <th scope="col">Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for buteur in U15 %}
                                    <tr>
                                        <td><a href="{{ path('profile', {'id': buteur.id}) }}">{{ buteur.nom }} {{ buteur.prenom }}</td>
                                        <td>{{ buteur.stats.butsA }}</td>
                                        <td>{{ buteur.stats.butsCoupe }}</td>
                                        <td>{{ buteur.stats.butsA + buteur.stats.butsCoupe }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-U13" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="col-12 offset-md-2 col-md-8">
                        <h2>Buteurs U13</h2>
                        <div class="table-responsive">
                            <table class="table table-sm tableauButeur">
                                <thead>
                                <tr>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Buts en A</th>
                                    <th scope="col">Buts en B</th>
                                    <th scope="col">Buts en Coupe</th>
                                    <th scope="col">Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for buteur in U13 %}
                                    <tr>
                                        <td><a href="{{ path('profile', {'id': buteur.id}) }}">{{ buteur.nom }} {{ buteur.prenom }}</td>
                                        <td>{{ buteur.stats.butsA }}</td>
                                        <td>{{ buteur.stats.butsB }}</td>
                                        <td>{{ buteur.stats.butsCoupe }}</td>
                                        <td>{{ buteur.stats.butsA + buteur.stats.butsCoupe }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.19/sorting/date-eu.js"></script>

    <script>
        $('.tableauButeur').DataTable({
            "order": [[4, "desc"]],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/French.json"
            },
            "autoWidth": false,
            "paging": false,
            "bInfo": false,
            "searching": false
        });
    </script>

    <script>
        $('.tableauButeur3Colonnes').DataTable({
            "order": [[3, "desc"]],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/French.json"
            },
            "autoWidth": false,
            "paging": false,
            "bInfo": false,
            "searching": false
        });
    </script>
{% endblock %}