{% extends 'base.html.twig' %}
{% block body %}
    <ol class="breadcrumb">
        <li><a href="index.php">Accueil</a></li>
        <li class="active">Club</li>
    </ol>

    <div class="container">
        <h1 class = "page-header">{{ category }} -<small> {{ nb_joueurs }} Joueurs</small></h1>
        <h3 class = "page-header">Gardiens</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Buts</th>
                <th>Passes</th>
                <th>Cartons Jaunes</th>
                <th>Cartons Rouges</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Numéro de téléphone</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for gardien in gardiens%}
                <tr>
                    <td><a href="{{ path('profile', {'id': gardien.id}) }}">{{ gardien.nom }}</a></td>
                    <td>{{ gardien.prenom }}</td>
                    <td>{{ gardien.buts }}</td>
                    <td>{{ gardien.passes }}</td>
                    <td>{{ gardien.cartonsJaunes }}</td>
                    <td>{{ gardien.cartonsRouges }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>{{ gardien.mobile }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h3 class = "page-header">Defenseurs</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Buts</th>
                <th>Passes</th>
                <th>Cartons Jaunes</th>
                <th>Cartons Rouges</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Numéro de téléphone</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for defenseur in defenseurs %}
                <tr>
                    <td><a href="{{ path('profile', {'id': defenseur.id}) }}">{{ defenseur.nom }}</a></td>
                    <td>{{ defenseur.prenom }}</td>
                    <td>{{ defenseur.buts }}</td>
                    <td>{{ defenseur.passes }}</td>
                    <td>{{ defenseur.cartonsJaunes }}</td>
                    <td>{{ defenseur.cartonsRouges }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>{{ defenseur.mobile }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h3 class = "page-header">Milieux</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Buts</th>
                <th>Passes</th>
                <th>Cartons Jaunes</th>
                <th>Cartons Rouges</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Numéro de téléphone</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for milieu in milieux %}
                <tr>
                    <td><a href="{{ path('profile', {'id': milieu.id}) }}">{{ milieu.nom }}</a></td>
                    <td>{{ milieu.prenom }}</td>
                    <td>{{ milieu.buts }}</td>
                    <td>{{ milieu.passes }}</td>
                    <td>{{ milieu.cartonsJaunes }}</td>
                    <td>{{ milieu.cartonsRouges }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>{{ milieu.mobile }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h3 class = "page-header">Attaquants</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Buts</th>
                <th>Passes</th>
                <th>Cartons Jaunes</th>
                <th>Cartons Rouges</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Numéro de téléphone</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for attaquant in attaquants %}
                <tr>
                    <td><a href="{{ path('profile', {'id': attaquant.id}) }}">{{ attaquant.nom }}</a></td>
                    <td>{{ attaquant.prenom }}</td>
                    <td>{{ attaquant.buts }}</td>
                    <td>{{ attaquant.passes }}</td>
                    <td>{{ attaquant.cartonsJaunes }}</td>
                    <td>{{ attaquant.cartonsRouges }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>{{ attaquant.mobile }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}