{% extends 'base.html.twig' %}

{% block body %}
    <header class="business-header" style="background: url({{ asset('pictures/home.jpg') }}) center center no-repeat scroll;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline"></h1>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="sous-titre">Les mots du président</h2>
            </div>
            <div class="col-md-4 text-center">
                <img src="{{ asset('pictures/default.png') }}" class="rounded-circle col-6 col-md-12" alt="Responsive image">
            </div>
            <div class="col-md-8">
                <p class="text-justify font-italic">« L'année passée a été l'occasion une nouvelle fois pour nos jeunes de briller
                    dans leur championnats respectifs et de présenter une image positive de notre club. Fort de ces
                    résultats nous allons continuer à développer notre école de football, passage obligé pour envisager
                    l'avenir avec sérénité. Encore merci et félicitation à tous ceux qui oeuvrent de près ou de loin au
                    bon fonctionnement de ces catégories.
                    </br></br>
                    Pour les seniors, la saison passée a été particulièrement bonne avec notamment une montée en D2 et en D3 à la clé.
                    Renforcés par quelques nouveaux joueurs sans beaucoup de départs, Frédéric Kaboudi et Maurizio Alpini auront comme objectif le maintien dans leur nouvelles divisions respectives.
                    La création d'une équipe C cette saison est l'aboutissement de beaucoup de travail.
                    Cette équipe aura pour but de se faire plaisir dasns la bonne ambiance tout en essayer de pratiquer le meilleur football possible
                    <br><br>
                    Je remercie sincèrement tous les bénévoles qui par leur dévouement contribuent au bon fonctionnement
                    de notre association. Ils en font un lieu convivial où il fait bon se retrouver.<br><br>
                    Bonne saison 2020/2021 à tous. »
                </p>
                <p class="text-right">Médéric Delamare</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-3">
                <h2>Quelques chiffres</h2>
                <div class="row">
                    <div class="col-12 col-lg-4 mb-3">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-users" aria-hidden="true"></i> Nombre d'équipes
                            </div>
                            <div class="card-body">
                                <div class="col-12">
                                    <div class="row no-gutters">
                                        <div class="col-6">
                                            <ul class="list-group">
                                                <li class="list-group-item d-flex justify-content-between align-items-center p-1">
                                                    Seniors F
                                                    <span class="badge badge-f badge-pill">1</span>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-center p-1">
                                                    Vétérans
                                                    <span class="badge badge-primary badge-pill">1</span>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-center p-1">
                                                    Seniors
                                                    <span class="badge badge-seniors badge-pill">3</span>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-center p-1">
                                                    U18
                                                    <span class="badge badge-U18 badge-pill">1</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-6">
                                            <ul class="list-group">
                                                <li class="list-group-item d-flex justify-content-between align-items-center p-1">
                                                    U15
                                                    <span class="badge badge-U15 badge-pill">1</span>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-center p-1">
                                                    U13
                                                    <span class="badge badge-U13 badge-pill">2</span>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-center p-1">
                                                    U11
                                                    <span class="badge badge-U11 badge-pill">3</span>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-center p-1">
                                                    U9
                                                    <span class="badge badge-U9 badge-pill">3</span>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-center p-1">
                                                    U7
                                                    <span class="badge badge-U7 badge-pill">4</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-3">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-calendar" aria-hidden="true"></i> Calendrier des entraînements
                            </div>
                            <div class="card-body">
                                <div id='calendar-index'></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-3">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-line-chart" aria-hidden="true"></i> Evolution du nombre de licenciés
                            </div>
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <canvas id="my-chart-index" data-annees={{ annees|json_encode|raw }} data-nb-licencies={{ nbLicencies|json_encode|raw }} ></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if weekGames|length > 0 %}
            <div class="row">
                <div class="col-12">
                    <h2 class="sous-titre">Les matchs de la semaine</h2>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                {% for game in weekGames %}
                                    <div class="swiper-slide">
                                        {% include 'default/match-card.html.twig' %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-lg-12">
                <h2 class="sous-titre">Dernières photos</h2>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="swiper-container gallery-block compact-gallery">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                {% include'template/template-photo-accueil.html.twig' with {'photo': asset('pictures/index/1.jpg'), 'heading': 'Tournoi de fin de saison 17/18', 'body': 'Match U9' } %}
                            </div>
                            <div class="swiper-slide">
                                {% include'template/template-photo-accueil.html.twig' with {'photo': asset('pictures/index/2.jpg'), 'heading': 'Tournoi de fin de saison 17/18', 'body': 'Remise des trophés' } %}
                            </div>
                            <div class="swiper-slide">
                                {% include'template/template-photo-accueil.html.twig' with {'photo': asset('pictures/index/3.jpg'), 'heading': 'Tournoi de fin de saison 17/18', 'body': 'Equipe U9' } %}
                            </div>
                            <div class="swiper-slide">
                                {% include'template/template-photo-accueil.html.twig' with {'photo': asset('pictures/index/4.jpg'), 'heading': 'Equipe Senior A', 'body': 'Remise des maillots par Les Ptits Loups' } %}
                            </div>
                            <div class="swiper-slide">
                                {% include'template/template-photo-accueil.html.twig' with {'photo': asset('pictures/index/5.jpg'), 'heading': 'Tournoi de fin de saison', 'body': 'Equipe Dirigeante' } %}
                            </div>
                            <div class="swiper-slide">
                                {% include'template/template-photo-accueil.html.twig' with {'photo': asset('pictures/index/6.jpg'), 'heading': 'Entraînement USCL', 'body': 'Equipe U11 avec Maurizio et Morgan' } %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('build/index.js') }}"></script>
{% endblock %}