{% extends 'base.html.twig' %}
{% block body %}
        <header id="myCarousel" class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">
                <div class="item active">
                    <div class="fill" style="background-image:url({{ asset('pictures/slide4.jpg') }});"></div>
                </div>
                <div class="item">
                    <div class="fill" style="background-image:url({{ asset('pictures/slide2.jpg') }});"></div>
                </div>
                <div class="item">
                    <div class="fill" style="background-image:url({{ asset('pictures/slide3.jpg') }});"></div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </header>


            {#<div class="col-md-5">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Planning des entrînements & des matchs</div>
                            <div class="panel-body">
                                <div id='calendar'></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>#}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('vendor/jquery/src/fotorama.js') }}"></script>
    <script src='{{ asset('vendor/moment/min/moment.min.js') }}'></script>
    <script src='{{ asset('vendor/fullcalendar/dist/fullcalendar.js') }}'></script>
    <script src='{{ asset('vendor/fullcalendar/dist/locale/fr.js') }}'></script>
    <script>
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                header: false,
                columnFormat: 'dddd',
                allDaySlot: false,
                defaultView: 'agendaWeek',
                minTime: '12:00:00',
                maxTime: '21:00:00',
                events: [ // values will be coming from an ajax call so I'm just placing here what inputs I would like
                    {
                        title:"Entraînement Seniors",
                        start: '19:00',
                        end: '21:00',
                        dow: [ 3,5 ],
                        backgroundColor: '#ff0000'
                    },
                    {
                        title:"Entraînement U7/U9 Cormeilles",
                        start: '14:00',
                        end: '15:30',
                        dow: [ 3 ],
                        backgroundColor: '#5472AE'
                    },
                    {
                        title:"Entraînement U11",
                        start: '15:30',
                        end: '17:00',
                        dow: [ 3 ],
                        backgroundColor: '#4CA66B'
                    },
                    {
                        title:"Entraînement U13/U15",
                        start: '17:00',
                        end: '19:00',
                        dow: [ 3 ],
                        backgroundColor: '#008B8B'
                    }
                ]
            });

        });
    </script>
{% endblock %}