<nav class="navbar navbar-expand-lg navbar navbar-dark bg-uscl fixed-top ">
    <a class="navbar-brand" href="{{ path('homepage') }}">USCL</a>
    <button class="hamburger hamburger--slider d-block d-lg-none" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-briefcase" aria-hidden="true"></i> Bureau
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ path('bureau') }}">Bureau</a>
                    <a class="dropdown-item" href="{{ path('responsables') }}">Responsables par équipes</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-users" aria-hidden="true"></i> Effectifs
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ path('effectif', {'category': 'Veteran'} ) }}">Veterans</a>
                    <a class="dropdown-item" href="{{ path('effectif', {'category': 'Senior'} ) }}">Seniors</a>
                    <a class="dropdown-item" href="{{ path('effectif', {'category': 'U18'} ) }}">U18</a>
                    <a class="dropdown-item" href="{{ path('effectif', {'category': 'U15'} ) }}">U15</a>
                    <a class="dropdown-item" href="{{ path('effectif', {'category': 'U13'} ) }}">U13</a>
                    <a class="dropdown-item" href="{{ path('effectif', {'category': 'Football-animation'} ) }}">Football d'animation</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i> Classements & résultats
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ path('statistiques', {'category': 'seniorA'} ) }}">Seniors A</a>
                    <a class="dropdown-item" href="{{ path('statistiques', {'category': 'seniorB'} ) }}">Seniors B</a>
                    <a class="dropdown-item" href="{{ path('statistiques', {'category': 'veteranA'} ) }}">Veterans A</a>
                    <a class="dropdown-item" href="{{ path('statistiques', {'category': 'veteranB'} ) }}">Veterans B</a>
                    <a class="dropdown-item" href="{{ path('statistiques', {'category': 'U18'} ) }}">U18</a>
                    <a class="dropdown-item" href="{{ path('statistiques', {'category': 'U15'} ) }}">U15</a>
                    <a class="dropdown-item" href="{{ path('statistiques', {'category': 'U13A'} ) }}">U13 A</a>
                    <a class="dropdown-item" href="{{ path('statistiques', {'category': 'U13B'} ) }}">U13 B</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('buteurs') }}"> <i class="fa fa-futbol-o" aria-hidden="true"></i> Buteurs </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i> Classements & résultats
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="nav-link" href="{{ path('fos_user_profile_show') }}"><i class="fa fa-user" aria-hidden="true"></i> Profil</a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="nav-link" href="{{ path('sonata_admin_dashboard') }}"><i class="fa fa-lock" aria-hidden="true"></i> Admin</a>
                        {% endif %}
                        <a class="nav-link" href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i> Deconnexion</a>
                    </div>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.username }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-user" aria-hidden="true"></i> Profil</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('sonata_admin_dashboard') }}"><i class="fa fa-lock" aria-hidden="true"></i> Admin</a></li>
                        {% endif %}
                        <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i> Deconnexion</a></li>
                    </ul>
                </li>

            {% else  %}
                <li><a class="nav-link" href="{{ path('fos_user_security_login') }}"><i class="fa fa-sign-in" aria-hidden="true"></i> Connexion</a></li>
            {% endif %}
        </ul>
    </div>
</nav>