{% extends 'base.html.twig' %}
{% block body %}
    {{ include(':default:head.html.twig') }}
    <ol class="breadcrumb">
        <li>Accueil</li>
        <li>Profil</li>
        <li class="active">{{ joueur.prenom }} {{ joueur.nom }}</li>
    </ol>



    <div class="container zonePlay">
        <div class="media">
            <div class="media-left">
                <img src="{{ joueur.photo }}" alt="Florian THAUVIN">
            </div>
            <div class="media-body">
                <div class="row">
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="text-right">Pays : </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="text-left">France</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="text-right">Age : </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="text-left">{{ age }} ans</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="text-right">Date de naissance :</div>
                            </div>
                            <div class="col-xs-6">
                                <div class="text-left">{{ joueur.dateDeNaissance|date("d/m/Y") }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="text-right">Lieu de naissance :</div>
                            </div>
                            <div class="col-xs-6">
                                <div class="text-left">{{ joueur.lieuDeNaissance }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="text-right">Poste :</div>
                            </div>
                            <div class="col-xs-6">
                                <div class="text-left">{{ joueur.stats.poste.nom }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="text-right">Educateur :</div>
                            </div>
                            <div class="col-xs-6">
                                <div class="text-left">
                                    {% if joueur.educateur %}
                                        <i id="check-vert" class="fa fa-check fa-lg"></i>
                                    {% else %}
                                        <i id="croix-rouge" class="fa fa-times fa-lg" aria-hidden="true"></i>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="text-right">Dirigeant :</div>
                            </div>
                            <div class="col-xs-6">
                                <div class="text-left">
                                    {% if joueur.dirigeant %}
                                        <i id="check-vert" class="fa fa-check fa-lg"></i>
                                    {% else %}
                                        <i id="croix-rouge" class="fa fa-times fa-lg" aria-hidden="true"></i>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="row saison-actuelle-profil">Saison 2018-2019 avec l'USCL :</div>
                        <div class="row">
                            <div class="fc_inf_stats">
                                <p>{{ joueur.stats.nbMatchs }}</p>
                                <span>MATCHS<br>JOUÉS</span>
                            </div>
                            <div class="fc_inf_stats">
                                <p>{{ joueur.stats.buts }}</p>
                                <span>BUTS<br>MARQUÉS</span>
                            </div>
                            <div class="fc_inf_stats">
                                <p>{{ joueur.stats.passes }}</p>
                                <span>PASSES<br>DECISIVES</span>
                            </div>
                            <div class="fc_inf_stats_cr">
                                <p><span class="carton_jaune">&nbsp;</span> {{ joueur.stats.cartonsJaunes }}</p>
                                <p><span class="carton_rouge">&nbsp;</span> {{ joueur.stats.cartonsRouges }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h2 class="sousTitreProfil">Carrière</h2>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <td>Saison</td>
                        <td>Club</td>
                        <td>Catégorie</td>
                    </tr>
                </thead>
                <tbody>
                    {% for carriere in joueur.carriere %}
                        <tr>
                            <td>{{ carriere.saison }}</td>
                            <td>{{ carriere.club }}</td>
                            <td>{{ carriere.SousCategorie }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <h2 class="sousTitreProfil">Stats au cours des dernières saisons</h2>
    </div>
{% endblock %}