<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Full Slider - Start Bootstrap Template</title>


    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('vendor/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Font Awsome -->
    <link href="{{ asset('vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset('css/full-slider.css') }}" rel="stylesheet">

    <link href="{{ asset('css/style.css') }}" rel="stylesheet">



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

{% include('default/navbar.html.twig') %}
<ol class="breadcrumb">
    <li>Accueil</li>
    <li>Profile</li>
    <li class="active">{{ joueur.prenom }} {{ joueur.nom }}</li>
</ol>

<!-- Page Content -->
<div class = "container">
    <div class="panel panel-primary col-md-7">
        <div class="panel-heading">
            <h3 class="panel-title">{{ joueur.prenom }} {{ joueur.nom }}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <img src="{{ asset('pictures/profiles/default.png') }}" alt="{{ joueur.prenom }}" class="img-rounded col-md-6">
                <div class="col-md-6">
                    <div class="row"><i class="fa fa-birthday-cake" aria-hidden="true"></i> <strong>Date de naissance : </strong> {{ joueur.nom }}</div>
                    <div class="row"><i class="fa fa-birthday-cake" aria-hidden="true"></i> <strong>Lieu de naissance : </strong> {{ joueur.nom }}</div>
                    <div class="row"><i class="fa fa-birthday-cake" aria-hidden="true"></i> <strong>Pied fort : </strong> {{ joueur.nom }}</div>
                    <div class="row"><i class="fa fa-birthday-cake" aria-hidden="true"></i> <strong>Poste : </strong> {{ joueur.poste }}</div>
                    <div class="row"><i class="fa fa-birthday-cake" aria-hidden="true"></i> <strong>Equipe favorite : </strong> {{ joueur.nom }}</div>
                    <div class="row"><i class="fa fa-birthday-cake" aria-hidden="true"></i> <strong>Joueur favoris : </strong> {{ joueur.nom }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->

<!-- jQuery -->
<script src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ asset('vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>

<!-- Script to Activate the Carousel -->
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>

</body>

</html>