{% extends 'base.html.twig' %}
{% block body %}
    {{ include(':default:head.html.twig') }}
    <ol class="breadcrumb">
        <li>Accueil</li>
        <li>Profil</li>
        <li class="active">{{ joueur.prenom }} {{ joueur.nom }}</li>
    </ol>



    <h1 class="text-center">{{ joueur.prenom }} {{ joueur.nom }}</h1>
    <div class="container zonePlay">
        <div class="media">
            <div class="media-left">
                <img src="{{ joueur.photo }}" alt="Florian THAUVIN">
            </div>
            <div class="media-body">
                <div class="row">
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="text-right">Pays : </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="text-left">France</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="text-right">Age : </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="text-left">{{ age }} ans</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="text-right">Date de naissance :</div>
                            </div>
                            <div class="col-xs-6">
                                <div class="text-left">{{ joueur.dateDeNaissance|date("d/m/Y") }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="text-right">Lieu de naissance :</div>
                            </div>
                            <div class="col-xs-6">
                                <div class="text-left">{{ joueur.lieuDeNaissance }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="text-right">Poste :</div>
                            </div>
                            <div class="col-xs-6">
                                {% if joueur.stats.poste %}
                                    <div class="text-left">{{joueur.stats.poste.nom }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="text-right">Educateur :</div>
                            </div>
                            <div class="col-xs-6">
                                <div class="text-left">
                                    {% if joueur.educateur %}
                                        <i id="check-vert" class="fa fa-check fa-lg"></i>
                                    {% else %}
                                        <i id="croix-rouge" class="fa fa-times fa-lg" aria-hidden="true"></i>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="text-right">Dirigeant :</div>
                            </div>
                            <div class="col-xs-6">
                                <div class="text-left">
                                    {% if joueur.dirigeant %}
                                        <i id="check-vert" class="fa fa-check fa-lg"></i>
                                    {% else %}
                                        <i id="croix-rouge" class="fa fa-times fa-lg" aria-hidden="true"></i>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="row saison-actuelle-profil">Saison 2018-2019 avec l'USCL :</div>
                        <div class="row">
                            <div class="fc_inf_stats">
                                <p>{{ joueur.statsRencontresJoueurs|length}}</p>
                                <span>MATCHS<br>JOUÉS</span>
                            </div>
                            <div class="fc_inf_stats">
                                <p>{{ joueur.buteurs|length}}</p>
                                <span>BUTS<br>MARQUÉS</span>
                            </div>
                            <div class="fc_inf_stats">
                                <p>{{ joueur.passeurs|length}}</p>
                                <span>PASSES<br>DECISIVES</span>
                            </div>
                            <div class="fc_inf_stats_cr">
                                <p><span class="carton_jaune">&nbsp;</span> {{ joueur.statsRencontresCartonsJaunes|length}}</p>
                                <p><span class="carton_rouge">&nbsp;</span> {{ joueur.statsRencontresCartonsRouges|length }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h2 class="sousTitreProfil">Carrière</h2>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <td>Saison</td>
                        <td>Club</td>
                        <td>Catégorie</td>
                    </tr>
                </thead>
                <tbody>
                    {% for carriere in joueur.carriere %}
                        <tr>
                            <td>{{ carriere.saison }}</td>
                            <td>
                            {% if carriere.club %}
                                <img class = 'img-carriere' src="{{ asset('pictures/logos/' ~ carriere.club.logo) }}"> - {{ carriere.club.nom }}
                            {% else %}
                                {{ carriere.clubParse }}
                            {% endif %}
                            </td>
                            <td>{{ carriere.SousCategorie }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <h2 class="sousTitreProfil">Faits de matchs cette saison</h2>
        <div class="table-responsive">
            <table class="table" id="faits-match">
                <thead>
                    <td>Date</td>
                    <td>Fait de match</td>
                </thead>
                <tbody>
                {% for cartonsJaunes in joueur.statsRencontresCartonsJaunes%}
                    <tr>
                        <td>{{ cartonsJaunes.rencontre.date|date("d/m/Y")  }}</td>
                        <td><img src="{{ asset('pictures/icons/yellow-card.png') }}"> A pris un carton jaune lors de <a href="{{ path('rencontre', {'id': cartonsJaunes.rencontre.id}) }}">{{ cartonsJaunes.rencontre  }}</a></td>
                    </tr>
                {% endfor %}
                {% for cartonsRouges in joueur.statsRencontresCartonsRouges%}
                    <tr>
                        <td>{{ cartonsRouges.rencontre.date|date("d/m/Y")  }}</td>
                        <td><img src="{{ asset('pictures/icons/red-card.png') }}"> A pris un carton rouge lors de <a href="{{ path('rencontre', {'id': cartonsRouges.rencontre.id}) }}">{{ cartonsRouges.rencontre  }}</a></td>
                    </tr>
                {% endfor %}
                {% for rencontre in joueur.statsRencontresJoueurs %}
                    <tr>
                        <td>{{ rencontre.rencontre.date|date("d/m/Y")  }}</td>
                        <td><img src="{{ asset('pictures/icons/strategy.png') }}"> A joué lors de <a href="{{ path('rencontre', {'id': rencontre.rencontre.id}) }}">{{ rencontre.rencontre  }}</a></td>
                    </tr>
                {% endfor %}
                {% for buteur in joueur.buteurs%}
                    <tr>
                        <td>{{ buteur.statsRencontres.rencontre.date|date("d/m/Y")  }}</td>
                        <td><img src="{{ asset('pictures/icons/soccer-ball.png') }}"> A marqué lors de <a href="{{ path('rencontre', {'id': buteur.statsRencontres.rencontre.id}) }}">{{ buteur.statsRencontres.rencontre  }}</a></td>
                    </tr>
                {% endfor %}
                {% for passeur in joueur.passeurs%}
                    <tr>
                        <td>{{ passeur.statsRencontres.rencontre.date|date("d/m/Y")  }}</td>
                        <td><img src="{{ asset('pictures/icons/soccer.png') }}"> A délivré une passe décisive lors de <a href="{{ path('rencontre', {'id': passeur.statsRencontres.rencontre.id}) }}">{{ passeur.statsRencontres.rencontre  }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.19/sorting/date-eu.js"></script>

    <script >
        $('#faits-match').DataTable( {
            "paging": false,
            "bInfo" : false,
            "searching" : false,
            columnDefs: [
                {type: 'date-eu-desc', targets: 0 }
            ]
        } );
    </script>
{% endblock %}