{% extends 'base.html.twig' %}
{% block body %}
    {{ include(':default:head.html.twig') }}
    <ol class="breadcrumb">
        <li>Accueil</li>
        <li>Profile</li>
        <li class="active">{{ joueur.prenom }} {{ joueur.nom }}</li>
    </ol>

    <!-- Page Content -->
    <div class = "container my-custom-container">
        <div class="panel panel-primary col-md-8 col-md-offset-2">
            <div class="panel-heading">
                <h3 class="panel-title">{{ joueur.prenom }} {{ joueur.nom }}</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <img src="{{ joueur.photo }}" alt="{{ joueur.prenom }}" class="img-rounded col-md-6">
                    </div>

                    <div class="col-md-4">
                        <div class="row"><i class="fa fa-flag" aria-hidden="true"></i> <strong>Pays : </strong> FRANCE</div>
                        <div class="row"><i class="fa fa-birthday-cake" aria-hidden="true"></i> <strong>Date de naissance : </strong>{{ joueur.dateNaissance.format('d/m/Y') }}</div>
                        <div class="row"><i class="fa fa-globe" aria-hidden="true"></i> <strong>Lieu d Naissance : </strong>{{ joueur.lieuNaissance }}</div>
                        <div class="row"><i class="fa fa-map-marker" aria-hidden="true"></i> <strong>Adresse : </strong>{{ joueur.ville }}</div>
                        <div class="row"><i class="fa fa-futbol-o" aria-hidden="true"></i> <strong>Poste : </strong>{{ joueur.poste }}</div>
                        <div class="row"><i class="fa fa-sort-numeric-desc" aria-hidden="true"></i> <strong>Numéro : </strong>{{ joueur.numero }}</div>

                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <div class="row"><i class="fa fa-mobile" aria-hidden="true"></i> <strong>Téléphone : </strong>{{ joueur.mobile }}</div>
                            <div class="row"><i class="fa fa-address-card" aria-hidden="true"></i> <strong>Licence : </strong> {{ joueur.numeroLicence }}</div>
                            <div class="row"><i class="fa fa-envelope" aria-hidden="true"></i> <strong>Mail : </strong>	{{ joueur.mail }}</div>
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                        <div class="row"><strong>Saison 2016-2017 avec l'USCL : </strong></div>
                        <ul>
                            <li><span class="stats">{{ joueur.nbMatchs }}</span> Matchs Disputés</li>
                            <li><span class="stats">{{ joueur.buts }}</span> Buts Marqués</li>
                            <li><span class="stats">{{ joueur.buts }}</span> Passes Décisives</li>
                            <li><span class="stats">{{ joueur.cartonsJaunes }}</span> Cartons Jaunes</li>
                            <li><span class="stats">{{ joueur.cartonsRouges }}</span> Cartons Rouges</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <h1 class = "page-header">Carrière</h1>
            <table class="table text-center">
                <thead>
                <tr>
                    <td><strong>Saison</strong></td><td><strong>Sous-catégorie</strong></td><td><strong>Club</strong></td>
                </tr>
                </thead>
                <tbody>
                    {% for carriere in joueur.carriere %}
                    <tr>
                        <td>{{ carriere.saison }}</td><td>{{ carriere.sousCategorie }}</td><td>{{ carriere.club }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-5 col-md-offset-2">
            <h1 class = "page-header">Statistiques Personnelles</h1>
            <canvas id="myChart"></canvas>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
<script>
    var ctx = document.getElementById("myChart").getContext('2d');

    var saisons = {{ saisons|json_encode|raw }}
    var buts = {{ buts|json_encode }}
    var passes = {{ passes|json_encode }}
    var cartonsJ = {{ cartonsJ|json_encode }}
    var cartonsR = {{ cartonsR|json_encode }}

    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: saisons.reverse(),
            datasets: [{
                spanGaps: true,
                label: 'Buts',
                data: buts.reverse(),
                borderWidth: 2,
                backgroundColor: [],
                lineTension: 0.1,
                fill: false,
                borderColor: "rgb(58, 83, 155)"
            },{
                label: 'Passes Décisisves',
                data: passes.reverse(),
                borderWidth: 2,
                backgroundColor: [],
                lineTension: 0.1,
                fill: false,
                borderColor: "rgb(38, 196, 236)"
            },{
                label: 'Cartons Jaunes',
                data: cartonsJ.reverse(),
                borderWidth: 2,
                backgroundColor: [],
                lineTension: 0.1,
                fill: false,
                borderColor: "rgb(255,255,0)"
            },{
                label: 'Cartons Rouges',
                data: cartonsR.reverse(),
                borderWidth: 2,
                backgroundColor: [],
                lineTension: 0.1,
                fill: false,
                borderColor: "	rgb(240,128,128)"
            }]
        },
        options: {
            legend: {
                display: true
            },
            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Quantité'
                    },
                    ticks: {
                        beginAtZero:true,
                        min: 0,
                    }
                }],
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Année'
                    }
                }]
            }
        }
    });
</script>
{% endblock %}