<!DOCTYPE html>
<html lang="en">

{{ include(':default:head.html.twig') }}


<body>

{% include('default/navbar.html.twig') %}
<ol class="breadcrumb">
    <li>Accueil</li>
    <li>Profile</li>
    <li class="active">{{ joueur.prenom }} {{ joueur.nom }}</li>
</ol>

<!-- Page Content -->
<div class = "container">
    <div class="panel panel-primary col-md-7">
        <div class="panel-heading">
            <h3 class="panel-title">{{ joueur.prenom }} {{ joueur.nom }}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <img src="{{ asset('pictures/profiles/default.png') }}" alt="{{ joueur.prenom }}" class="img-rounded col-md-6">
                <div class="col-md-6">
                    <div class="row"><i class="fa fa-birthday-cake" aria-hidden="true"></i> <strong>Date de naissance : </strong> {{ joueur.nom }}</div>
                    <div class="row"><i class="fa fa-birthday-cake" aria-hidden="true"></i> <strong>Lieu de naissance : </strong> {{ joueur.nom }}</div>
                    <div class="row"><i class="fa fa-birthday-cake" aria-hidden="true"></i> <strong>Pied fort : </strong> {{ joueur.nom }}</div>
                    <div class="row"><i class="fa fa-birthday-cake" aria-hidden="true"></i> <strong>Poste : </strong> {{ joueur.poste }}</div>
                    <div class="row"><i class="fa fa-birthday-cake" aria-hidden="true"></i> <strong>Equipe favorite : </strong> {{ joueur.nom }}</div>
                    <div class="row"><i class="fa fa-birthday-cake" aria-hidden="true"></i> <strong>Joueur favoris : </strong> {{ joueur.nom }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->

<!-- jQuery -->
<script src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ asset('vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>

<!-- Script to Activate the Carousel -->
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>

</body>

</html>