{% extends 'base.html.twig' %}
{% block body %}
<ol class="breadcrumb">
    <li><a href="index.php">Accueil</a></li>
    <li class="active">Club</li>
</ol>

<div class="container my-custom-container">
    <h1 class="page-header">Statistiques {{ categorie }} <small>division</small></h1>
    <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
            <h2 class="page-header">Classement</h2>
            <table class="resultats table table-condensed classement">
                <thead>
                <tr>
                    <td>Pl</td>
                    <td>Equipe</td>
                    <td>J</td>
                    <td>Pts</td>
                    <td>G</td>
                    <td>N</td>
                    <td>D</td>
                    <td>F</td>
                    <td>BP</td>
                    <td>BC</td>
                    <td>P</td>
                    <td>Diff</td>
                </tr>
                </thead>
                <tbody>
                {% for equipe in equipes %}
                    <tr>
                        <td>1</td>
                        <td>{{ equipe.nomParse }}</td>
                        <td>{{ equipe.stats.journees }}</td>
                        <td>{{ equipe.stats.points }}</td>
                        <td>{{ equipe.stats.victoires }}</td>
                        <td>{{ equipe.stats.nuls }}</td>
                        <td>{{ equipe.stats.defaites }}</td>
                        <td>{{ equipe.stats.forfaits }}</td>
                        <td>{{ equipe.stats.butsPour }}</td>
                        <td>{{ equipe.stats.butsContre }}</td>
                        <td>{{ equipe.stats.penalites }}</td>
                        <td>{{ equipe.stats.difference }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('save-classement', {'category': category }) }}"><button class="btn"> Stocker classement</button></a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h2 class="page-header">Classement par journée</h2>
            <canvas id="classementParJournee"></canvas>
        </div>
    </div>
</div>
{% endblock %}

{#
{% block javascripts %}
    <script>
        var ctx = document.getElementById("myChart").getContext('2d');

        var positions = {{ positions|json_encode() }};
        var annees = {{ annees|json_encode|raw }};
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: annees,
                datasets: [{
                    data: positions,
                    borderWidth: 2,
                    backgroundColor: [],
                    lineTension: 0.1,
                    fill: false,
                    borderColor: "rgb(58, 83, 155)"
                }]
            },
            options: {
                legend: {
                    display: false
                },
                scales: {
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Position'
                        },
                        ticks: {
                            beginAtZero:true,
                            reverse: true,
                            min: 1,
                            max: 12
                        }
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Année'
                        }
                    }]
                }
            }
        });
    </script>
    <script>
        var ctx = document.getElementById("classementParJournee").getContext('2d');
        var array = {{ classement_par_journee|json_encode|raw }};
        var datasetValue = [];
        var j = 0;
        var borderColor;
        $.each(array, function (index, value) {
            datasetValue[j] = {
                spanGaps: true,
                label: index,
                data: value,
                borderWidth: 2,
                backgroundColor: [],
                lineTension: 0.1,
                fill: false,
                borderColor: colorByTeam(index)
            }
            j++;
        });

        function colorByTeam(team) {
            if (team.indexOf('CORM') != -1){
                console.log(team);
                return "rgb(58, 83, 155)";
            }
            else return '#'+(0x1000000+(Math.random())*0xffffff).toString(16).substr(1,6);
        }

        var myChart = new Chart(ctx, {
            responsive: true,
            type: 'line',
            data: {
                labels: {{ nb_journees|json_encode|raw }},
                datasets: datasetValue
            },
            options: {
                legend: {
                    display: true
                },
                scales: {
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Classement',
                        },
                        ticks: {
                            beginAtZero:true,
                            min: 1,
                            reverse: true,
                        }
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Journée'
                        }
                    }]
                }
            }
        });
    </script>
{% endblock %}#}
