{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
{% endblock %}
{% block body %}
<ol class="breadcrumb">
    <li><a href="index.php">Accueil</a></li>
    <li class="active">Club</li>
</ol>

<div class="container my-custom-container">
    <h1 class="page-header">Statistiques {{ categorie }} <small>division</small></h1>
    <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
            <h2 class="page-header">Classement</h2>
            <table class="resultats table table-condensed classement">
                <thead>
                <tr>
                    <td>Pl</td>
                    <td>Equipe</td>
                    <td>J</td>
                    <td>Pts</td>
                    <td>G</td>
                    <td>N</td>
                    <td>D</td>
                    <td>F</td>
                    <td>BP</td>
                    <td>BC</td>
                    <td>P</td>
                    <td>Diff</td>
                </tr>
                </thead>
                <tbody>
                {% for equipe in equipes %}
                    <tr>
                        <td>1</td>
                        <td>{{ equipe.nomParse }}</td>
                        <td>{{ equipe.stats.journees }}</td>
                        <td>{{ equipe.stats.points }}</td>
                        <td>{{ equipe.stats.victoires }}</td>
                        <td>{{ equipe.stats.nuls }}</td>
                        <td>{{ equipe.stats.defaites }}</td>
                        <td>{{ equipe.stats.forfaits }}</td>
                        <td>{{ equipe.stats.butsPour }}</td>
                        <td>{{ equipe.stats.butsContre }}</td>
                        <td>{{ equipe.stats.penalites }}</td>
                        <td>{{ equipe.stats.difference }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-5 col-sm-offset-1">
            <h2 class="page-header">Résultats de la dernière journée</h2>
            <table class="resultats table table-condensed classement">
                {% for rencontre in rencontres %}
                    <tr>
                        <td>{{ rencontre.date|date("d/m/Y") }}</td>
                        <td>{{ rencontre.equipeDomicile.nomParse }}</td>
                        <td>{{ rencontre.score }}</td>
                        <td>{{ rencontre.equipeExterieure.nomParse }}</td>
                    </tr>
                {% endfor %}
            </table>
    </div>
</div>
    <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
            <h2 class="page-header">Prochaine Journée</h2>
            <table class="resultats table table-condensed classement">
                {% for agenda in agendas %}
                    <tr>
                        <td>{{ agenda.date|date("d/m/Y") }}</td>
                        <td>{{ agenda.equipeDomicile.nomParse }}</td>
                        <td>{{ agenda.equipeExterieure.nomParse }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-sm-5 col-sm-offset-1">
            <h2 class="page-header">Résultats de la dernière journée</h2>
            <table class="resultats table table-condensed classement">
                {% for rencontre in rencontres %}
                    <tr>
                        <td>{{ rencontre.date|date("d/m/Y") }}</td>
                        <td>{{ rencontre.equipeDomicile.nomParse }}</td>
                        <td>{{ rencontre.score }}</td>
                        <td>{{ rencontre.equipeExterieure.nomParse }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
            <h2 class="page-header">Calendrier</h2>
            <table id="calendrier" class="resultats table table-condensed classement calendrier">
                <thead>
                <tr>
                    <td>Date</td>
                    <td>Domicile</td>
                    <td>Exterieur</td>
                    <td>Score</td>
                </tr>
                </thead>
                <tbody>
                {% for calendrierDetail in calendrier %}
                    <tr>
                        <td>{{ calendrierDetail.date|date("d/m/Y") }}</td>
                        <td>{{ calendrierDetail.equipeDomicile.nomParse }}</td>
                        <td>{{ calendrierDetail.equipeExterieure.nomParse }}</td>
                        <td>{{ calendrierDetail.score }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h2 class="page-header">Classement par journée</h2>
                <canvas id="classementParJournee"></canvas>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script >
        $(document).ready( function () {
            $('.calendrier').DataTable();
        } );
    </script>
{% endblock %}