{% extends 'base.html.twig' %}
{% block body %}
<ol class="breadcrumb">
    <li><a href="index.php">Accueil</a></li>
    <li class="active">Club</li>
</ol>

<div class="container my-custom-container">
    <h1 class="page-header">Statistiques {{ categorie }} <small>{{ division }}</small></h1>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
            <h2 class="page-header">Classement</h2>
            <table class="resultats table table-condensed classement">
                <thead>
                <tr>
                    <td>Pl</td>
                    <td>Equipe</td>
                    <td>Pts</td>
                    <td>G</td>
                    <td>N</td>
                    <td>D</td>
                    <td>F</td>
                    <td>BP</td>
                    <td>BC</td>
                    <td>P</td>
                    <td>Diff</td>
                </tr>
                </thead>
                <tbody>
                {% for detail in classement %}
                    <tr>
                        <td>{{ detail['place'] }}</td>
                        <td>{{ detail['equipe'] }}</td>
                        <td>{{ detail['points'] }}</td>
                        <td>{{ detail['gagnes'] }}</td>
                        <td>{{ detail['nuls'] }}</td>
                        <td>{{ detail['defaites'] }}</td>
                        <td>{{ detail['forfaits'] }}</td>
                        <td>{{ detail['butsPour'] }}</td>
                        <td>{{ detail['butsContre'] }}</td>
                        <td>{{ detail['penalites'] }}</td>
                        <td>{{ detail['differences'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('save-classement', {'category': category }) }}"><button class="btn"> Stocker classement</button></a>
            {% endif %}
        </div>
        <div class="col-sm-4 col-sm-offset-2">
            <h2 class="page-header">Résutats du groupe</h2>
            <table class="resultats table table-condensed">
                {% for resultat in resultats %}
                    <tr>
                        <td colspan="3" class="tr-date text-center"><small><em>{{ resultat['date'] }}</em></small></td>
                        <td class="text-center">{{ resultat['equipe1'] }}</td>
                        <td class="text-center">{{ resultat['score'] }}</td>
                        <td class="text-center">{{ resultat['equipe2'] }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
            <div class="row">
                <h2 class="page-header">Agenda</h2>
                <table class="agenda table table-condensed">
                    {% for agenda in agendas%}
                        <tr>
                            <td colspan="3" class="tr-date text-center"><small><em>{{ agenda['date'] }}</em></small></td>
                            <td class="text-center">{{ agenda['equipe1'] }}</td>
                            <td class="text-center">-</td>
                            <td class="text-center">{{ agenda['equipe2'] }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="row">
                <h2 class="page-header">Évolution du classement final selon les années</h2>
                <canvas id="myChart"></canvas>
            </div>
        </div>
        <div class="col-sm-4 col-sm-offset-2">
            <h2 class="page-header">Calendrier</h2>
            <table class="calendrier table table-condensed">
                <tbody>
                {% for calendrierInfos in calendrier %}
                    <tr class="text-center">
                        <td colspan="3" class="tr-date"><small><em>{{ calendrierInfos['date'] }}</em></small></td>
                        <td class ="eqLeft">{{ calendrierInfos['equipe1'] }}</td>
                        <td class="score">{{ calendrierInfos['score'] }}</td>
                        <td class ="eqRight">{{ calendrierInfos['equipe2'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h2 class="page-header">Classement par journée</h2>
            <canvas id="classementParJournee"></canvas>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(".classement td").each(function() {
            if($(this).html().indexOf('CORM') != -1){
                $(this).parent().addClass("uscl-ighlighting");
                $(this).parent().css("font-weight","bold");
            }
        });

        $(".resultats td").each(function() {
            if($(this).html().indexOf('CORM') != -1){
                $(this).parent().addClass("uscl-ighlighting");
                $(this).parent().css("font-weight","bold");
            }
        });

        $(".agenda td").each(function() {
            if($(this).html().indexOf('CORM') != -1){
                $(this).parent().addClass("uscl-ighlighting");
                $(this).parent().css("font-weight","bold");
            }
        });

        $(".calendrier td").each(function() {
            if($(this).html().indexOf('CORM') != -1){
                $(this).css("font-weight","bold");
            }
        });

        $(".calendrier > tbody > tr").each(function(){
            var score = $('.score', this).html();
            var res = score.split("-");

            if(res[0])
            {
                if (res[0] == res[1]){$(this).addClass('warning');}

                if ($('.eqLeft',this).html().indexOf('CORM') != -1 && parseInt(res[0]) < parseInt(res[1])) {
                    $(this).addClass('danger');
                }

                if ($('.eqLeft',this).html().indexOf('CORM') != -1 && parseInt(res[0]) > parseInt(res[1])) {
                    $(this).addClass('success');
                }

                if ($('.eqRight',this).html().indexOf('CORM') != -1 && parseInt(res[0]) < parseInt(res[1])) {
                    $(this).addClass('success');
                }

                if ($('.eqRight',this).html().indexOf('CORM') != -1 && parseInt(res[0]) > parseInt(res[1])) {
                    $(this).addClass('danger');
                }
            }

        });

        $( ".classement > tbody > tr:nth-child(1)" ).addClass("success");
        $( ".classement > tbody > tr:nth-child(2)" ).addClass("success");
        $( ".classement > tbody > tr:last-child" ).addClass("danger");
    </script>

    <script>
        var ctx = document.getElementById("myChart").getContext('2d');

        var positions = {{ positions|json_encode() }};
        var annees = {{ annees|json_encode|raw }};
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: annees,
                datasets: [{
                    data: positions,
                    borderWidth: 2,
                    backgroundColor: [],
                    lineTension: 0.1,
                    fill: false,
                    borderColor: "rgb(58, 83, 155)"
                }]
            },
            options: {
                legend: {
                    display: false
                },
                scales: {
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Position'
                        },
                        ticks: {
                            beginAtZero:true,
                            reverse: true,
                            min: 1,
                            max: 12
                        }
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Année'
                        }
                    }]
                }
            }
        });
    </script>
    <script>
        var ctx = document.getElementById("classementParJournee").getContext('2d');
        var array = {{ classement_par_journee|json_encode|raw }};
        var datasetValue = [];
        var j = 0;
        var borderColor;
        $.each(array, function (index, value) {
            datasetValue[j] = {
                spanGaps: true,
                label: index,
                data: value,
                borderWidth: 2,
                backgroundColor: [],
                lineTension: 0.1,
                fill: false,
                borderColor: colorByTeam(index)
            }
            j++;
        });

        function colorByTeam(team) {
            if (team.indexOf('CORM') != -1){
                console.log(team);
                return "rgb(58, 83, 155)";
            }
            else return '#'+(0x1000000+(Math.random())*0xffffff).toString(16).substr(1,6);
        }

        var myChart = new Chart(ctx, {
            responsive: true,
            type: 'line',
            data: {
                labels: {{ nb_journees|json_encode|raw }},
                datasets: datasetValue
            },
            options: {
                legend: {
                    display: true
                },
                scales: {
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Classement',
                        },
                        ticks: {
                            beginAtZero:true,
                            min: 1,
                            reverse: true,
                        }
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Journée'
                        }
                    }]
                }
            }
        });
    </script>
{% endblock %}