{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
{% endblock %}
{% block body %}
<header class="business-header {{ class }}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="tagline"></h1>
            </div>
        </div>
    </div>
</header>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item " aria-current="page"><a href="index.php">Accueil</a></li>
        <li class="breadcrumb-item " aria-current="page">Statistiques</li>
        <li class="breadcrumb-item active" aria-current="page">{{ categorie }}</li>
    </ol>
</nav>
<div class="container-fluid">
    <h1 class="sous-titre">Statistiques {{ division }}<small> Groupe {{ groupe }}</small></h1>
    <ul class="nav nav-pills mb-3 d-flex justify-content-center"" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-classement" role="tab" aria-controls="pills-home" aria-selected="true">Classement</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-resultats" role="tab" aria-controls="pills-resultats" aria-selected="false">Résultats</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-agenda" role="tab" aria-controls="pills-agenda" aria-selected="false">Agenda</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-calendrier" role="tab" aria-controls="pills-calendrier" aria-selected="false">Calendrier</a>
        </li>
    </ul>
    <div class="row">
        <div class="tab-content col-12" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-classement" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="col-12 offset-md-2 col-md-8" >
                    <h2>Classement</h2>
                    <div class="table-responsive classement  {{ tableClass }}">
                        <table class="table table-sm">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Equipe</th>
                                <th scope="col">Pts</th>
                                <th scope="col">Jo</th>
                                <th scope="col">G</th>
                                <th scope="col">N</th>
                                <th scope="col">D</th>
                                <th scope="col">F</th>
                                <th scope="col">BP</th>
                                <th scope="col">BC</th>
                                <th scope="col">P</th>
                                <th scope="col">Diff</th>
                                <th scope="col">5 derniers matchs</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for equipe in equipes %}
                                <tr class="classement-tr">
                                    <td>{{ loop.index }}</td>
                                    {% if equipe.club %}
                                        <td><img data-toggle="tooltip" data-placement="top" title="{{ equipe.nomParse }}" class="img-carriere mr-4" src="{{ asset('pictures/Logos/' ~ equipe.club.logo) }}"><span class="d-none d-lg-inline-block">{{ equipe.nomParse }}</span></td>
                                    {% else %}
                                        <td>{{ equipe.nomParse }}</td>
                                    {% endif %}
                                    <td class="font-weight-bold">{{ equipe.stats.points }}</td>
                                    <td>{{ equipe.stats.journees }}</td>
                                    <td>{{ equipe.stats.victoires }}</td>
                                    <td>{{ equipe.stats.nuls }}</td>
                                    <td>{{ equipe.stats.defaites }}</td>
                                    <td>{{ equipe.stats.forfaits }}</td>
                                    <td>{{ equipe.stats.butsPour }}</td>
                                    <td>{{ equipe.stats.butsContre }}</td>
                                    <td>{{ equipe.stats.penalites }}</td>
                                    <td>{{ equipe.stats.difference }}</td>
                                    <td>
                                        <ul class="p-0 my-auto">
                                            <li class="result-li">
                                                {% for result in equipe.lastFiveResults %}
                                                    <i class="fa fa-circle fa-circle-{{ result }}" aria-hidden="true"></i>
                                                {% endfor %}
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-resultats" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="col-12 offset-md-2 col-md-8" >
                    <h2>Résultats</h2>
                    <div class="table-responsive">
                        <table class="table table-sm">
                            {% for resultat in rencontres %}
                                <tr>
                                    <td>{{ resultat.date|date("m/d/Y H:i") }}</td>
                                    {% if resultat.equipeDomicile.club %}
                                        <td>
                                            <img data-toggle="tooltip" data-placement="top" title="{{ resultat.equipeDomicile.nomParse }}" class="img-carriere mr-4" src="{{ asset('pictures/Logos/' ~ resultat.equipeDomicile.club.logo) }}">
                                            <span class="d-none d-lg-inline-block">{{ resultat.equipeDomicile.nomParse }}</span>
                                        </td>
                                    {% else %}
                                        <td>{{ resultat.equipeDomicile.nomParse }}</td>
                                    {% endif %}
                                    <td>{{ resultat.score }}</td>
                                    {% if resultat.equipeExterieure.club %}
                                        <td class="text-right">
                                            <span class="d-none d-lg-inline-block">{{ resultat.equipeExterieure.nomParse }}</span>
                                            <img data-toggle="tooltip" data-placement="top" title="{{ resultat.equipeExterieure.nomParse }}" class="img-carriere ml-4" src="{{ asset('pictures/Logos/' ~ resultat.equipeExterieure.club.logo) }}">
                                        </td>
                                    {% else %}
                                        <td>{{ resultat.equipeExterieure.nomParse }}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-agenda" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="col-12 offset-md-2 col-md-8"  >
                    <h2>Agenda</h2>
                    <div class="table-responsive">
                        <table class="table table-sm">
                            {% for resultat in agendas %}
                                <tr>
                                    <td>{{ resultat.date|date("m/d/Y H:i") }}</td>
                                    {% if resultat.equipeDomicile.club %}
                                        <td>
                                            <img data-toggle="tooltip" data-placement="top" title="{{ resultat.equipeDomicile.nomParse }}" class="img-carriere mr-4" src="{{ asset('pictures/Logos/' ~ resultat.equipeDomicile.club.logo) }}">
                                            <span class="d-none d-lg-inline-block">{{ resultat.equipeDomicile.nomParse }}</span>
                                        </td>
                                    {% else %}
                                        <td>{{ resultat.equipeDomicile.nomParse }}</td>
                                    {% endif %}
                                    <td>-</td>
                                    {% if resultat.equipeExterieure.club %}
                                        <td class="text-right">
                                            <span class="d-none d-lg-inline-block">{{ resultat.equipeExterieure.nomParse }}</span>
                                            <img data-toggle="tooltip" data-placement="top" title="{{ resultat.equipeExterieure.nomParse }}" class="img-carriere ml-4" src="{{ asset('pictures/Logos/' ~ resultat.equipeExterieure.club.logo) }}">
                                        </td>
                                    {% else %}
                                        <td>{{ resultat.equipeExterieure.nomParse }}</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-calendrier" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="col-12 offset-md-2 col-md-8" >
                    <h2 class="page-header">Calendrier</h2>
                    <select class="form-control"  id="selectEquipe">
                        {% for equipe in equipeListe %}
                            <option value={{ equipe.id }} data-href="{{ path('calendrier-par-equipe', {'equipe': equipe.id}) }}">{{ equipe.nomParse }}</option>
                        {% endfor %}
                    </select>
                    <div class="table-responsive resultats mt-5">
                        <table id="calendrier" class="table table-sm">
                            <tbody id="resultAjaxCalendrier">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script >
        $(document).ready( function () {
            var cormeillesRoute = "{{ path('calendrier-par-equipe', {'equipe': cormeilles.id}) }}";
            var nomParse = '{{ cormeilles.nomParse|raw }}';
            $("#selectEquipe option").each(function(){
                if ($(this).text() == nomParse)
                    $(this).attr("selected","selected");
            });
            refreshClassement(cormeillesRoute, nomParse);


            $('#selectEquipe').change(function () {
                var route = $('#selectEquipe').find(":selected").attr('data-href');
                var equipeCourante = ($('#selectEquipe').find(":selected").html());
                refreshClassement(route, equipeCourante);
            })
        } );



        function refreshClassement(route, equipeCourante){
            $.ajax({
                url: route,
                type: "GET",
                success: function(data){
                    $("#resultAjaxCalendrier").html(data);
                }
            });
        }


    </script>
{% endblock %}