<!DOCTYPE html>
<html lang="en">

{{ include(':default:head.html.twig') }}


<body>

{% include('default/navbar.html.twig') %}

<ol class="breadcrumb">
    <li><a href="index.php">Accueil</a></li>
    <li class="active">Club</li>
</ol>

<div class="container col-md-12">
    <h1 class="page-header">Statistiques {{ categorie }} <small>1<sup>ère</sup> Division Groupe A</small></h1>
    <div class="row">
        <div class="col-md-offset-1 col-md-4">
            <h2 class="page-header">Classement</h2>
            <table class="resultats table table-condensed">
                <thead>
                <tr>
                    <td>Pl</td>
                    <td>Equipe</td>
                    <td>Pts</td>
                    <td>G</td>
                    <td>N</td>
                    <td>D</td>
                    <td>F</td>
                    <td>BP</td>
                    <td>BC</td>
                    <td>P</td>
                    <td>Diff</td>
                </tr>
                </thead>
                {% for detail in classement %}
                    <tr>
                        <td>{{ detail['place'] }}</td>
                        <td>{{ detail['equipe'] }}</td>
                        <td>{{ detail['points'] }}</td>
                        <td>{{ detail['gagnes'] }}</td>
                        <td>{{ detail['nuls'] }}</td>
                        <td>{{ detail['defaites'] }}</td>
                        <td>{{ detail['forfaits'] }}</td>
                        <td>{{ detail['butsPour'] }}</td>
                        <td>{{ detail['butsContre'] }}</td>
                        <td>{{ detail['penalites'] }}</td>
                        <td>{{ detail['differences'] }}</td>

                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="col-sm-4 col-sm-offset-2">
            <h2 class="page-header">Résutats du groupe</h2>
            <table class="resultats table table-condensed">
                {% for resultat in resultats %}
                    <tr>
                        <td>{{ resultat['equipe1'] }}</td>
                        <td>{{ resultat['score'] }}</td>
                        <td>{{ resultat['equipe2'] }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-1">
            <h2 class="page-header">Calendrier</h2>
            <table class="resultats table table-condensed">
                {% for calendrierInfos in calendrier %}
                    <tr>
                        <td>{{ calendrierInfos['equipe1'] }}</td>
                        <td>{{ calendrierInfos['score'] }}</td>
                        <td>{{ calendrierInfos['equipe2'] }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-sm-4 col-sm-offset-2">
            <h2 class="page-header">Évolution du classement final selon les années</h2>
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>


<!-- jQuery -->
<script src="{{ asset('vendor/jquery/dist/jquery.js') }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ asset('vendor/bootstrap/dist/js/bootstrap.js') }}"></script>

<script>
    var ctx = document.getElementById("myChart").getContext('2d');

    var positions = {{ positions|json_encode() }};
    var annees = {{ annees|json_encode|raw }};
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: annees,
            datasets: [{
                data: positions,
                borderWidth: 2,
                backgroundColor: [],
                lineTension: 0.1,
                fill: false,
                borderColor: "rgb(58, 83, 155)"
            }]
        },
        options: {
            legend: {
                display: false
            },
            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Position'
                    },
                    ticks: {
                        beginAtZero:true,
                        reverse: true,
                        min: 1,
                        max: 12
                    }
                }],
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Année'
                    }
                }]
            }
        }
    });
</script>

</body>

</html>