{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
{% endblock %}
{% block body %}
<header class="business-header {{ class }}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="tagline"></h1>
            </div>
        </div>
    </div>
</header>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item " aria-current="page"><a href="index.php">Accueil</a></li>
        <li class="breadcrumb-item " aria-current="page">Statistiques</li>
        <li class="breadcrumb-item active" aria-current="page">{{ categorie }}</li>
    </ol>
</nav>
<div class="container-fluid">
    <h1 class="sous-titre">Statistiques {{ division }}<small> Groupe {{ groupe }}</small></h1>
    <div class="row">
        <div class="offset-2 col-8">
            <h2>Classement</h2>
            <div class="table-responsive classement">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Equipe</th>
                            <th scope="col">Pts</th>
                            <th scope="col">Jo</th>
                            <th scope="col">G</th>
                            <th scope="col">N</th>
                            <th scope="col">D</th>
                            <th scope="col">F</th>
                            <th scope="col">BP</th>
                            <th scope="col">BC</th>
                            <th scope="col">P</th>
                            <th scope="col">Diff</th>
                            <th scope="col">5 derniers matchs</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for equipe in equipes %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            {% if equipe.club %}
                                <td><img class="img-carriere mr-4" src="{{ asset('pictures/Logos/' ~ equipe.club.logo) }}"><span class="d-none d-sm-inline-block">{{ equipe.club.nom }}</span></td>
                            {% else %}
                                <td>{{ equipe.nomParse }}</td>
                            {% endif %}
                            <td class="font-weight-bold">{{ equipe.stats.points }}</td>
                            <td>{{ equipe.stats.journees }}</td>
                            <td>{{ equipe.stats.victoires }}</td>
                            <td>{{ equipe.stats.nuls }}</td>
                            <td>{{ equipe.stats.defaites }}</td>
                            <td>{{ equipe.stats.forfaits }}</td>
                            <td>{{ equipe.stats.butsPour }}</td>
                            <td>{{ equipe.stats.butsContre }}</td>
                            <td>{{ equipe.stats.penalites }}</td>
                            <td>{{ equipe.stats.difference }}</td>
                            <td>
                                <ul class="p-0 my-auto">
                                    <li>
                                        {% for result in equipe.lastFiveResults %}
                                            <i class="fa fa-circle fa-circle-{{ result }}" aria-hidden="true"></i>
                                        {% endfor %}
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script >
        $(document).ready( function () {
            var cormeillesRoute = "{{ path('calendrier-par-equipe', {'equipe': cormeilles.id}) }}";
            var nomParse = '{{ cormeilles.nomParse|raw }}';
            $("#selectEquipe option").each(function(){
                if ($(this).text() == nomParse)
                    $(this).attr("selected","selected");
            });
            refreshClassement(cormeillesRoute, nomParse);


            $('#selectEquipe').change(function () {
                var route = $('#selectEquipe').find(":selected").attr('data-href');
                var equipeCourante = ($('#selectEquipe').find(":selected").html());
                refreshClassement(route, equipeCourante);
            })
        } );



        function refreshClassement(route, equipeCourante){
            $.ajax({
                url: route,
                type: "GET",
                success: function(data){
                    $("#resultAjaxCalendrier").html(data);
                    addColor(equipeCourante);
                }
            });
        }
    </script>
{% endblock %}