{% for calendrierDetail in equipes %}
    <tr class="align-middle">
        <td >{{ calendrierDetail.date|date("d/m/Y") }}</td>
        <td>
            <img data-toggle="tooltip" data-placement="top" title="{{ calendrierDetail.teams[0].name }}" class="img-carriere mr-4" src="{{ asset('pictures/Logos/' ~ calendrierDetail.teams[0].clubId ~ '.png') }}">
            <span class="d-none d-lg-inline-block">{{ calendrierDetail.teams[0].name|upper }}</span>
        </td>
        {% if calendrierDetail.teams[0].score is not null %}
            <td class=" text-center score text-nowrap">{{ calendrierDetail.teams[0].score ~ '-' ~ calendrierDetail.teams[1].score }}</td>
        {% else %}
            <td class="text-center score text-nowrap">VS</td>
        {% endif %}
        <td class="equipeDroite">
            <span class="d-none d-lg-inline-block">{{ calendrierDetail.teams[1].name|upper }}</span>
            <img data-toggle="tooltip" data-placement="top" title="{{ calendrierDetail.teams[1].name }}" class="img-carriere ml-4" src="{{ asset('pictures/Logos/' ~ calendrierDetail.teams[1].clubId ~ '.png') }}">
        </td>
    </tr>
{% endfor %}