{% for calendrierDetail in equipes %}
    <tr class="align-middle">
        <td class="col-xs-3 col-lg-1">{{ calendrierDetail.date|date("d/m/Y") }}</td>
        {% if calendrierDetail.equipeDomicile.club %}
            <td class="col-xs-3 col-lg-5 equipeGauche"><img class="img-carriere" src="{{ asset('pictures/Logos/' ~ calendrierDetail.equipeDomicile.club.logo) }}"><span class="hidden-xs"> -{{ calendrierDetail.equipeDomicile.club.nom }}</span></td>
        {% else %}
            <td class="equipeGauche">{{ calendrierDetail.equipeDomicile.nomParse }}</td>
        {% endif %}

        {% if calendrierDetail.stats %}
            <td class="col-xs-3 col-lg-1 text-center score"><a href="{{ path('rencontre', { 'id': calendrierDetail.id}) }}">{{ calendrierDetail.score }} </a></td>
        {% else %}
            {% if calendrierDetail.score %}
                <td class=" col-xs-3 col-lg-1 text-center score">{{ calendrierDetail.score }}</td>
            {% else %}
                <td class="col-xs-3 col-lg-1 text-center score">VS</td>
            {% endif %}
        {% endif %}

        {% if calendrierDetail.equipeExterieure.club %}
            <td class="col-xs-3 col-lg-5 equipeDroite"><span class="hidden-xs">{{ calendrierDetail.equipeExterieure.club.nom }} - </span><img class="img-carriere" src="{{ asset('pictures/Logos/' ~ calendrierDetail.equipeExterieure.club.logo) }}"></td>
        {% else %}
            <td class="equipeDroite">{{ calendrierDetail.equipeExterieure.nomParse }}</td>
        {% endif %}
    </tr>
{% endfor %}