<div class="card mt-2">
    <div class="card-body">
        <div class="d-flex">
            <div class="mr-auto p-2">
                <div class="media">
                    <div class="circle">
                        <span class="initials">MD</span>
                    </div>
                    <div class="media-body ml-5 mt-3">
                        <h5 class="mt-0">{{ licencie.nomComplet }}</h5>
                        {{role}}
                    </div>
                </div>
            </div>

            <div class="p-2 d-flex align-items-center">
                <button type="button" class="btn btn-outline-uscl btn-lg" href="tel:{{licencie.telephonePortable}}">
                    <i class="fa fa-phone"></i> {{ licencie.telephonePortable }}
                </button>
            </div>
            <div class="p-2 d-flex align-items-center">
                <button type="button" class="btn btn-outline-uscl btn-lg" href="mailto:{{ licencie.email }}">
                    <i class="fa fa-envelope"></i> {{ licencie.email }}
                </button>
            </div>
        </div>
    </div>
</div>