<div class="card card-bureau mt-2 box-shadow border-uscl-primary">
    <div class="card-body">
        <div class="d-flex">
            <div class="mr-auto p-2">
                <div class="media">
                    <img class="mr-3 rounded-circle img-effectif" src="{{ asset('pictures/default.png') }}">
                    <div class="media-body mt-2">
                        <h6 class="mt-0 font-weight-bold">{{ licencie.nomComplet }}</h6>
                        <span>{{role}}</span>
                    </div>
                </div>
            </div>
            <div class="p-2 d-flex align-items-center">
                <a href="tel:{{licencie.telephonePortable}}" type="button" class="btn btn-uscl btn-circle" data-toggle="tooltip" data-placement="top" title="{{licencie.telephonePortable}}">
                    <i class="fa fa-phone"></i>
                </a>
            </div>
            <div class="p-2 d-flex align-items-center">
                <a href="mailto:{{ licencie.email }}" type="button" class="btn btn-uscl btn-circle" data-toggle="tooltip" data-placement="top" title="{{licencie.email}}">
                    <i class="fa fa-envelope"></i>
                </a>
            </div>
        </div>
    </div>
</div>