{#
<div class="table-responsive">
    <table class="table text-center">
        <thead>
        <tr>
            <td>Saison</td>
            <td>Club</td>
            <td>Catégorie</td>
        </tr>
        </thead>
        <tbody>
        {% for carriere in joueur.carriere %}
            <tr>
                <td>{{ carriere.saison }}</td>
                <td>
                    {% if carriere.club %}
                        <img class='img-carriere' src="{{ asset('pictures/Logos/' ~ carriere.club.logo) }}"> {{ carriere.club.nom }}
                    {% else %}
                        {{ carriere.clubParse }}
                    {% endif %}
                </td>
                <td>{{ carriere.SousCategorie }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>#}
<div class="card card-stats-rencontre">
    <div class="card-body">
        <div class="row text-center">
            <div class="col-12">
                <div class="font-weight-bold mb-2 titre-rencontre">{{ carriere.saison|upper }}</div>
            </div>
            {% if carriere.club %}
                <div class="col-12">
                    <img class='img-carriere' src="{{ asset('pictures/Logos/' ~ carriere.club.logo) }}">
                </div>
                <div class="col-12">
                    {{ carriere.club.nom }}
                </div>
            {% else %}
                <div class="col-12">
                    {{ carriere.clubParse }}
                </div>
            {% endif %}
            <div class="col-12 font-italic">
                ({{ carriere.SousCategorie }})
            </div>
        </div>
    </div>
</div>
